



/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/* no usar col- nunca ya que hay un selector asi
 */
/*cargamos el tema por defecto con las fuentes y colores propios */


/* @import "../../themes/theme-dutti/site";*/


$mg: "margin"; /* propiedad que modificamos */
$margin: /* name : margen total mobile, tablet, desktop, longdesktop*/
(m-20: (10px, 20px, 20px, 20px),
  m-30: (10px, 30px, 30px, 30px),
  m-50: (20px, 50px, 50px, 50px));
  
  
$mx: "margin"; /* propiedad que modificamos */
$margin-x: /* name : margen bottom   */
(mx-10: (0 10px, 0 10px, 0 10px, 0 10px),
  mx-20: (0 10px, 0 20px, 0 20px, 0 20px),
  mx-30: (0 10px, 0 30px, 0 30px, 0 30px),
  mx-50: (0 20px, 0 50px, 0 50px, 0 50px));
  
  
$my: "margin"; /* propiedad que modificamos */
$margin-y: /* name : margen bottom*/
(my-10: (10px 0, 10px 0, 10px 0, 10px 0),
  my-20: (10px 0, 20px 0, 20px 0, 20px 0),
  my-30: (10px 0, 30p 0x, 30p 0, 30px 0),
  my-50: (20px 0, 50px 0, 50px 0, 50px 0));
  
  
    
$mt: "margin-top";/* propiedad que modificamos */
$margin-top: /* name : margen bottom*/
(mt-10: (10px, 10px, 10px, 10px),
  mt-20: (10px, 20px, 20px, 20px),
  mt-30: (10px, 30px, 30px, 30px),
  mt-50: (20px, 50px, 50px, 50px));
  
  
  $mr: "margin-right";/* propiedad que modificamos */
  $margin-right: /* name : margen bottom*/
  (mr-10: (10px, 10px, 10px, 10px),
    mr-20: (10px, 20px, 20px, 20px),
    mr-30: (10px, 30px, 30px, 30px),
    mr-50: (20px, 50px, 50px, 50px));
  
$mb: "margin-bottom";/* propiedad que modificamos */
$margin-bottom: /* name : margen bottom*/
(mb-10: (10px, 10px, 10px, 10px),
  mb-20: (10px, 20px, 20px, 20px),
  mb-30: (10px, 30px, 30px, 30px),
  mb-50: (20px, 50px, 50px, 50px));
  

  
$ml: "margin-left";/* propiedad que modificamos */
$margin-left: /* name : margen bottom*/
(ml-10: (10px, 10px, 10px, 10px),
  ml-20: (10px, 20px, 20px, 20px),
  ml-30: (10px, 30px, 30px, 30px),
  ml-50: (20px, 50px, 50px, 50px));
  

  
  
/*+------------------------------------------------------------+
 |       -PADDINGS  
 +------------------------------------------------------------+*/
$p: "padding"; /* propiedad que modificamos */
$padding: /* name : padding  top*/
(p-10: (10px, 10px, 10px, 10px),
  p-20: (10px, 20px, 20px, 20px),
  p-30: (10px, 30px, 30px, 30px),
  p-50: (20px, 50px, 50px, 50px));
  
  
$py: "padding";/* propiedad que modificamos */
$padding-y: /* name : padding  arriba y abajo*/
(py-20: (10px 0, 20px 0, 20px 0, 20px 0),
  py-30: (10px 0, 30px 0, 30px 0, 30px 0),
  py-50: (20px 0, 30px 0, 40px 0, 50px 0),
  py-60: (24px 16px,24px 16px, 24px 16px, 60px 60px),
  
  );
  
  
$px: "padding";/* propiedad que modificamos */
$padding-x: /* name : padding  arriba y abajo*/
(px-20: (0 10px, 0 20px, 0 20px, 0 20px),
  px-30: (0 10px, 0 30px, 0 30px, 0 30px),
  px-50: (0 20px, 0 30px, 0 40px, 0 50px));
  
  
$pt: "padding-top";/* propiedad que modificamos */
$padding-top: /* name : padding  top*/
(pt-10: (10px, 10px, 10px, 10px),
  pt-20: (10px, 20px, 20px, 20px),
  pt-30: (10px, 30px, 30px, 30px),
  pt-50: (20px, 50px, 50px, 50px));
  
  
$pb: "padding-bottom";/* propiedad que modificamos */
$padding-bottom: /* name : padding  bottom*/
(pb-10: (10px, 10px, 10px, 10px),
  pb-20: (10px, 20px, 20px, 20px),
  pb-30: (10px, 30px, 30px, 30px),
  pb-50: (20px, 50px, 50px, 50px));
  
  
$pl: "padding-left";/* propiedad que modificamos */
$padding-left: /* name : padding  bottom*/
(pl-10: (10px, 10px, 10px, 10px),
  pl-20: (10px, 20px, 20px, 20px),
  pl-30: (10px, 30px, 30px, 30px),
  pl-50: (20px, 50px, 50px, 50px));
  
  
$pr: "padding-right";/* propiedad que modificamos */
$padding-right: /* name : padding  bottom*/
(pr-10: (10px, 10px, 10px, 10px),
  pr-20: (10px, 20px, 20px, 20px),
  pr-30: (10px, 30px, 30px, 30px),
  pr-50: (20px, 50px, 50px, 50px));


$fs: "font-size";
$lh: "line-height";
$headers:/* name:mobile,768,992,1280,line-height,font */
(h1: (32px,32px, 32px, 32px, 40px, 1.2, "medium"),
  h2: (24px,24px, 24px, 24px, 32px, 1.2, "medium"),
  h3: (18px,18px, 18px, 18px, 24px, 1.2, "medium"),
  h4: (16px,16px, 16px, 16px, 18px, 1.2, "medium"),
  h5: (14px, 14px, 14px, 14px, 16px, 1.2, "medium"),
  h6: (12px, 12px, 12px, 12px, 14px, 1.2, "medium"),
  h7: (10px, 10px, 10px, 10px, 12px, 1.2, "medium"),
  h8: (8px,8px, 8px, 8px, 10px, 1.2, "medium"),
  display1: (32px,32px, 32px, 32px, 48px, 1.2, "bold"),
  display2: (20px,20px, 20px, 20px, 40px, 1.2, "bold"),
  display3: (16px, 16px, 16px, 16px, 24px, 1.5, "medium"),
  display4: (14px,14px, 14px, 14px, 24px, 1.5, "medium"),
  display5: (14px,14px, 14px, 14px, 18px, 1.5, "regular"),
  display6: (12px,12px, 12px, 12px, 18px, 1.5, "regular"),
  display7: (14px, 14px, 14px, 14px, 18px, 1.5, "medium"),
  p1: (12px,12px, 12px, 12px, 14px, 1.4, "regular"),
  p2: (14px, 14px, 16px, 16px, 18px, 1.4, "regular"),
  p4: (14px,14px, 16px, 16px, 18px, 1.4, "medium"));

/* array para elementos fijos*/
$headersFixers: (/*name :  fontsize, lineheight */
  12 : (12px, 1.5),
  14 : (14px, 1.5),
  16 : (16px, 1.5),
  18 : (18px, 1.5),
  20 : (20px, 1.5),
  24 : (24px, 1.5),
);





  
 

@import "partials";
