
.row-3 {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;


  .col {
    display: flex;
    text-align: center;

    flex-basis: 80%;

    @media (min-width:$break-sm) {
      flex-basis: 40%;
    }

    @media (min-width:$break-md) {
      flex-basis: 30%;
    }


  }
}

/**
 section>.container>.row-6>.col>.h5+p.p1
**/