$colorsGuide: (Black : (#000000, "RGB : 0 0 0"),
    secondary-color : (#F5F5F5, "RGB : 0 0 0"),
    gray-90: (#171717, "RGB : 0 0 9"),
    gray-80: (#2E2E2E, "RGB : 0 0 18"),
    gray-70: (#464646, "RGB : 0 0 27"),
    gray-60: (#5D5D5D, "RGB : 0 0 36"),
    gray-50: (#757575, "RGB : 0 0 46"),
    gray-40: (#909090, "RGB : 0 0 56"),
    gray-30: (#ACACAC, "RGB : 0 0 67"),
    gray-20: (#C7C7C7, "RGB : 0 0 78"),
    gray-10: (#E3E3E3, "RGB : 0 0 89"),
    white-smoke:(#F5F5F5, "RGB : 0 0 96"),
    White : (#ffffff, "RGB : 0 0 0"),

    quartory-color : (#E6F5FF, "RGB : 0 0 0"),
    cinco-color : (#B5E6C8, "RGB : 0 0 0"),
    six-color : (#FEF7C1, "RGB : 0 0 0"),
    siete-color : (#FADFC1, "RGB : 0 0 0"),
    ocho-color : (#FCD8CD, "RGB : 0 0 0"),
    Error : (#FD675E, "RGB : 0 0 0"),
    Sales : (#FA3B2C, "RGB : 0 0 0"),
    Sales-Variant : (#E43628, "RGB : 228 54 40"));

@each $name,
$value in $colorsGuide {
    $i: index(($colorsGuide), ($name $value));

    $color0: $name; //funcion del color
    $color1: nth($value, 1); //color
    $color2: nth($value, 2); //segundo nombre color

    .wrap-item {
        box-shadow: 0 9px 25px rgba(0, 0, 0, 0.06);
        margin: 0;
        position: relative;
        width: 100px;
        transition: all ease 300ms;


        &:hover {
            box-shadow: 0px 15px 19px 0px rgba(0, 0, 0, 0.16);

        }

    }

    .wrap-item:nth-child(#{$i}) {

        .item {

            height: 200px;
            margin: 0;

            background-color: $color1;
            position: relative;

            &:after {
                font-size: 12px;
                position: absolute;
                top: 50%;
                margin-top: -10px;
                width: 100%;
                text-align: center;
                color: #fff;
                content: "#{$color1}";
            }
        }

        float: left;
        padding: 0;
        margin-bottom: 10px;
        background-color: white;


        &:after {

            color: #fff;
            position: absolute;
            bottom: 10px;
            font-size: 12px;
            left: 16px;
            content: "#{$color2}";
        }

        :before {
            color: #fff;
            position: absolute;
            bottom: -40px;
            font-size: 14px;
            left: 0px;
            content: "#{$color0}";

        }
    }
}














