
.wrap-item-type_header {
    border-right: 1px solid #eaeaea;
    float: left;
    @include font-medium();
    position: relative;
    width: 100%;
    transition: all ease 300ms;
    border-bottom: 2px solid #d4d4d4;
    .item {
        border: 1px solid #eaeaea;
        border-width: 1px 0 0 1px;
        width: 14%;
        float: left;
        padding: 10px 0;
        position: relative;
        font-size: 14px;
        text-align: center;
        &:after {
            width: 100%;
            text-align: center;
        }
    }
  .item-0 {
            color: $primary-guide;
            word-wrap: break-word;
        }
        .item-1 {
            &:after {
                   @include font-light();
                     content: " - #{$break-xs}";
            }
        }
        .item-2 {
            &:after {
                   @include font-light();
                content: " - #{$break-sm}";
            }
        }
        .item-3 {
            &:after {
                   @include font-light();
                content: " - #{$break-md}";
            }
        }
        .item-4 {
            &:after {
                   @include font-light();
                content: " - #{$break-lg}";
            }
        }
        .item-5 {
            &:after {
                @include font-light();
            }
        }
        .item-6 {
            &:after {
                @include font-bold();
            }
        }
}
@each $name,
$value in $headers {
    $i: index(($headers), ($name $value));
    $color0: $name; //funcion del color
    $color1: nth($value, 1); //color
    $color2: nth($value, 2); //segundo nombre color
    $color3: nth($value, 3); //segundo nombre color
    $color4: nth($value, 4); //segundo nombre color
    $color5: nth($value, 5); //segundo nombre color
    $color6: nth($value, 6); //segundo nombre color
    .wrap-item-type {
        border-right: 1px solid #eaeaea;
        position: relative;
        width: 100%;
        transition: all ease 300ms;
        &:last-child {
            border-bottom: 1px solid #eaeaea;
            float: left;
        }
        &:hover {
            box-shadow: 0px 15px 19px 0px rgba(0, 0, 0, 0.16);
        }
    }
    .wrap-item-type:nth-child(#{$i}) {
        float: left;
        background-color: white;
        .item {
            border: 1px solid #eaeaea;
            border-width: 1px 0 0 1px;
            width: 14%;
            float: left;
            padding: 10px 0;
            position: relative;
            font-size: 14px;
            text-align: center;
            &:after {
                width: 100%;
                text-align: center;
                content: "#{$name}";
            }
        }
        .item-0 {
            color: $primary-guide;
            word-wrap: break-word;
        }
        .item-1 {
            &:after {
                content: "#{$color1}";
            }
        }
        .item-2 {
            &:after {
                content: "#{$color2}";
            }
        }
        .item-3 {
            &:after {
                content: "#{$color3}";
            }
        }
        .item-4 {
            &:after {
                content: "#{$color4}";
            }
        }
        .item-5 {
            &:after {
                @include font-light();
                content: "#{$color5}";
            }
        }
        .item-6 {
            &:after {
                @include font-bold();
                content: "#{$color6}";
            }
        }
    }
}
.guide table td {
    padding: 10px;
    vertical-align: top;
    border: 1px solid #eaeaea;
}
