/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/* no usar col- nunca ya que hay un selector asi
 */
@import "../../scss/partials"; //core holygrail
@import "./assets/colors";
@import "./assets/headers";
@import "../../themes/theme-dutti/site";//imagenes, fuentes, customización del site

.guide {
background-color: red;




  .row {
    position: relative;
  }

  .menulateral {
    position: fixed;
    top: 62px;
    overflow: auto;
    height: calc(100vh - 62px);
    border-right: 1px solid #eaeaea;
    font-size: 12px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    width: 180px;
    padding-left: 20px;

    html {
      font-size: 12px;
    }
  }
  
  .iframecomponentes{
    width: 100%;
    border: 1px solid black;
  }

  .container-main {
    width: 100%;
    margin-left: 0;
    transition: .11s ease;
    position: relative;
    min-height: calc(100vh - 48px);

  }

  .site-navigation {
    padding: 40px 20px 60px 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 160px;
  }

  .site-main {
    margin:0  200px;
    padding: 40px 40px 60px 40px;
  }
  


  .guide-miniboxes {
    float: left;
    width: 100%;

    

    section {
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 40px;
      transform-origin: 0 0;
      transform: scale(0.5, 0.5) translateY(-50%);
      width: 200%;
      box-sizing: border-box;
    }
    
    .guide-mini {
      position: relative;
      float: left;
      margin: 10px;
      box-sizing: border-box;
      overflow: hidden;
      width: 48%;
      background-color:#3dbfcb;

      padding-bottom:20%;
  
    }
  }



  .header-menu {
    position: fixed;
    top: 0px;
    height: 62px;
    background-color: $primary-guide;

    overflow: hidden;
    min-height: 40px;
    padding: 0;

    color: white;
    font-size: 12px;
    z-index: 100;
    width: calc(100%);

    html {
      font-size: 12px;
    }

    .menutop {
      width: 100%;
      height: 62px;
    }
  }

  .guide-header {
    z-index: 100;
    padding: 16px;
    background: $primary-guide;

    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    

  }
  .list-inline li a{
 
    
  }
  .guide-sidebar {}

  .guide-contents {}

  .guide-hover {
    text-decoration: none;
    opacity: .6;
  }

  .header-bg {
    color: #134b46;

  }

  .guide-disabled {
    text-decoration: none;
    opacity: .3;
  }

  .dark-bg {
    background: #f3f6f7;
  }


  ul {
    //   margin: 20px
  }

  li {
    position: relative;
  }

  .num {

    font-size: 80px;
    text-align: center;
    line-height: 1;
    color: $primary-guide;
    margin-top: 5px;
  }

  .steps {

    .h3,
    .num {
      display: inline-block;
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: 14px;
    border-collapse: collapse;
    caption-side: bottom;

    th:nth-child(1) {
      width: 150px;
    }

    // Cells
    thead,
    test tbody,
    tfoot {
      tr {

        th,
        td {
          padding: 10px;
          vertical-align: top;
          border: 1px solid #eaeaea;

          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    // Prevent breaking of code (e.g., Grunt tasks list)
    td:first-child>code {
      white-space: nowrap;
    }
  }

  .submenu {
    display: flex;
    width: 100%;

    .col {
      padding: 0;
      border-bottom: 1px solid black;
    }
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 12px;
  }

  table {
    font-size: 12px;
    text-align: left;

    thead {
      background-color: $primary-guide;
      color: #ffffff;
    }

    td {
      &:first-child {
        font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
        color: $primary-guide !important;
      }
    }
  }

  code {
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    color: $primary-guide;
  
  }

  pre>code {
    background-color: transparent;
  }

  .table-flex {
    text-align: center;

    p {
      font-size: 12px;
      font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
      color: $primary-guide !important;
      text-align: center;
      width: 100%;
      background-color: #efe5ef;
      margin: 20px 0 0 0;
    }

    th {
      width: 20%;
    }

    td {
      text-align: center;
      padding: 10px;
    }

    .item-w {
      margin: 20px auto;
    }
  }

}

.title-page {
  text-align: center;
  letter-spacing: 5px;
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  width: 100%;
  font-weight: 100;
}

.link-template,
.link-template-mini {
  background-color: #FFFFFF;
  border-radius: 11px;
  border: 1px solid rgba(204, 204, 204, 0.4);
  overflow: visible;
  color: #CCCCCC;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0);
  transition: all ease 300ms;
  text-align: center;
  align-items: center;
  display: flex;

  &:hover {
    box-shadow: 0px 15px 19px 0px rgba(0, 0, 0, 0.16);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.link-template-mini {
  height: 50px;

  .h1 {
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
  }
}

.link-template {
  width: 300px;
  height: 200px;
  margin: 10px;

  .h1 {
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    width: 100%;
  }
}




.item-w {
  width: 46px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #eceff3;
}

.item-i {
  min-width: 20%;
  min-height: 20%;
  display: block;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.item-i:nth-child(1) {
  background-color: rgba(0, 191, 203, 0.93)
}

.item-i:nth-child(2) {
  background-color: rgba(0, 191, 203, 0.86)
}

.item-i:nth-child(3) {
  background-color: rgba(0, 191, 203, 0.79)
}

.item-i:nth-child(4) {
  background-color: rgba(0, 191, 203, 0.72)
}

.item-i:nth-child(5) {
  background-color: rgba(0, 191, 203, 0.65)
}

.item-i:nth-child(6) {
  background-color: rgba(0, 191, 203, 0.58)
}

.item-i:nth-child(7) {
  background-color: rgba(0, 191, 203, 0.51)
}

.item-i:nth-child(8) {
  background-color: rgba(0, 191, 203, 0.44)
}

.item-i:nth-child(9) {
  background-color: rgba(0, 191, 203, 0.37)
}

.item-i:nth-child(10) {
  background-color: rgba(0, 191, 203, 0.3)
}

.box-demo,
.box-demo2 {
  padding: 20px;
  border: 1px solid white;
}

.box-demo-inner {
  height: 200px;
  border: 1px solid white;
  background-color: rgba(0, 191, 203, 0.60);
  font-size: 20px;
  padding-top: 100px;
  text-align: center;
  color: white
}

.box-demo:nth-child(1) {
  background-color: rgba(0, 191, 203, 0.20)
}

.box-demo:nth-child(2) {
  background-color: rgba(0, 191, 203, 0.20)
}

.box-demo:nth-child(3) {
  background-color: rgba(0, 191, 203, 0.20)
}

.box-demo2:nth-child(1) {
  background-color: rgba(255, 33, 33, 0.20)
}

.box-demo2:nth-child(2) {
  background-color: rgba(255, 33, 33, 0.20)
}

.box-demo2:nth-child(3) {
  background-color: rgba(255, 33, 33, 0.20)
}

.box-demo .col {
  font-size: 12px;
  background-color: rgba(0, 191, 203, 0.60);
  border: 1px solid white;
}

.flexbox-map {
  .h3 {
    min-height: 50px;
    font-size: 20px;
    background-color: rgba(33, 255, 214, 0.33);
    padding: 20px;
  }
}

.box-info {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  font-style: italic;
  opacity: .5;
}

#guideFrame{
  overflow: auto;
  width: 100%;
  height: calc(100vh - 200px);
  border: 8px solid #eaeaea;

  
}

.btn {
  position: relative;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
  margin-right: $padding-global;
  vertical-align: middle;

  line-height: 38px;
  white-space: nowrap;
  cursor: pointer;


  &:hover {
      text-decoration: none;
      opacity: .6;
  }

  &:active,
  &:focus {
      outline: none;
  }

  &:visited {outline: none;}
}


