$input-padding-x : 14px;
$input-padding-y : 14px;

/*+------------------------------------------------------------+
 |       -INPUTS    
 +------------------------------------------------------------+*/
input:focus {
    outline: none;
    border: 1px solid black;
}

.form {
    width: 100%;
}

select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 0;
    color: #363636;
}

.input,
.select select {
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    padding: 13px 16px;
    position: relative;
    vertical-align: top;
    font-size: 12px;
    height: 48px;
    box-sizing: border-box;
}

.input,
.textarea,
.select select {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
}

.textarea {
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.inputmini {
    border-color: #ccc;
    color: #363636;
    max-width: 100%;
    width: 58px;
    font-size: 14px;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: none;
    display: inline-flex;
    height: 34px;
    font-size: 18px;
    margin-left: 10px;
    text-align: center;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
}

.input-btn {
    .input {
        display: inline-block;
        width: calc(60% - 100px);
    }

    .btn {
        display: inline-block;
        height: 56px;
        margin-left: -3px;
        width: 100px;
    }
}

.checkbox-text {
    float: left;

    label {
        display: inline-block;
    }

    input {
        display: inline-block;
        margin-right: 10px;
    }
}

.error-input {
    label {
        color: $error-primary;
    }

    .input {
        border: 1px solid $error-primary;
        color: $error-primary;
    }
}

.ok-input {
    label {
        color: green;
    }

    .input {
        border: 1px solid green;
        color: green;
    }
}

.disabled-input {
    opacity: .4;
}

.guide-font {
    position: relative;
    height: 30px;
    width: 100%;
    border: solid #eaeaea;
    border-width: 1px 1px 0px 1px;
    padding: 10px;

    span {
        top: 15px;
        color: #05aeb9;
        font-size: 14px;
        position: absolute;
        line-height: 1;
        width: 150px;
        text-align: center;
        @include font-regular();
    }

    .guide-title {
        padding-left: 200px;
    }

    &:last-child {
        border-bottom: 1px solid #eaeaea;
    }
}

input::-webkit-input-placeholder {
    font-size: 9px;
    text-transform: uppercase;
    color: #AAA;
    transform: translate3d(0, -4px, 0)
}