.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  -webkit-appearance: none;
  align-items: center;
  border-radius: 0;
  box-shadow: none;
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  vertical-align: top;

  select {
    cursor: pointer;
    display: block;
    max-width: 100%;
    outline: 0;
  }

  &::after {
    border: 1px solid #000;
    border-radius: 0px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 8px;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 8px;
  }

  &:not(.is-multiple) {
    height: 56px;
  }

  &:not(.is-multiple):not(.is-loading)::after {
    border-color: #000;
  }

  select::-ms-expand {
    display: none
  }

  select[disabled]:hover,
  fieldset[disabled] select:hover {
    border-color: #f5f5f5
  }

  select:not([multiple]) {
    padding-right: 45px;
  }

  select[multiple] {
    height: auto;
    padding: 0;
  }

  select[multiple] option {
    padding: 0 40px
  }

  &:not(.is-multiple):not(.is-loading):hover::after {
    border-color: #363636
  }

  &.select-label {
    select {
      padding-left: 100px
    }
  }

  label {
    position: absolute;
    top: 17px;
    left: 16px;
    z-index: 1;
  }
}
