/*+------------------------------------------------------------+
 |       -HELPERS DE TEXTO , ALINEACIONES        
 +------------------------------------------------------------+*/
 .text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

.pt-20 {
  padding-top: 20px;
}
/*+------------------------------------------------------------+
 |       -FLEXBOX    helpers
 +------------------------------------------------------------+*/
.is-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.content-start {
  justify-content: flex-start;
}
.content-end {
  justify-content: flex-end;
}
.content-center {
  justify-content: center;
}
.content-sp-between {
  justify-content: space-between;
}
.content-sp-around {
  justify-content: space-around;
}
.content-sp-evenly {
  justify-content: space-evenly;
}
.align-top {
  align-items: flex-start;
}
.align-middle {
  align-items: center;
}
.align-bottom {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.align-multi-top {
  align-content: flex-start;
  flex-wrap: wrap;
}
.align-multi-bottom {
  align-content: flex-end;
  flex-wrap: wrap;
}
.align-multi-center {
  align-content: center;
  flex-wrap: wrap;
}
.align-multi-between {
  align-content: space-between;
  flex-wrap: wrap;
}
.align-multi-around {
  align-content: space-around;
  flex-wrap: wrap;
}
.align-multi-stretch {
  align-content: stretch;
  flex-wrap: wrap;
}

.align-vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.d-inline {
  width: 100%;
  display: inline-block;
}
.sticky-bottom {
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  padding: 0 $padding-global $padding-global;
  bottom: 0;
}


