@use '../abstract/_all';
@use '../abstract/breakpoints';

$links: (
  btn-primary: #{breakpoints.$break-xs},
  btn-secondary: #{breakpoints.$break-sm},
  btn-tertiary: #{breakpoints.$break-md},
  btn-feel: #{breakpoints.$break-lg},
  link-line: #{breakpoints.$break-lg},
  link-raw: #{breakpoints.$break-lg},
  btn-phantom: #{breakpoints.$break-lg},
  btn-world: #{breakpoints.$break-lg},
  product-tag: #{breakpoints.$break-lg},
);
