@import "../abstract/_all.scss";


//   -Alturas
 

 .h-100{
   height: 100%;
 }
 .height-100{
  height: 100%;
}
.height-128{
  min-height: 128px;
}

.height-xs {
    min-height: $height-xs;
}

.height-sm {
    min-height: $height-sm;
}


.height-md {
    min-height: $height-md;
}

.height-lg {
    min-height: $height-lg;
}

.height-xl {
    min-height: $height-xl;
}

.height-full {
    min-height: 100vh;
}





//   -HEROS        
 
 .hero-big {
    min-height: 300px;
    @media (min-width:$break-sm) {
      min-height: 500px;
    }
  }
  .hero-medium {
    min-height: 200px;
    @media (min-width:$break-sm) {
      min-height: 400px;
    }
  }
  .hero-mini {
    min-height: 100px;
    @media (min-width:$break-sm) {
      min-height: 300px;
    }
  }
