/*+------------------------------------------------------------+
 |       -Alturas         
 +------------------------------------------------------------+*/
$height-xs:80px;
$height-sm:100px;
$height-md:350px;
$height-lg:400px;
$height-xl:450px;
$height-full:100vh;
$height-home:calc(100vh - 80px);

.height-xs {
    height: $height-xs;
}

.height-sm {
    height: $height-sm;
}

.height-md {
    height: $height-md;
}

.height-lg {
    height: $height-lg;
}

.height-xl {
    height: $height-xl;
}

.height-full {
    height: 100vh;
}

.height-home {
    height: calc(100vh - 80px);
}
