@import '../abstract/_all';
.ico-big {
  width: 48px;
  height: 48px;
  padding: 10px;
  border: 1px solid $c-middle-grey;
  box-sizing: border-box;
  border-radius: 50%;
}
.ico {
  svg {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }
}
// soporte para estilos de color iconos con el componente svg-icon
svg-icon {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.c-invert {
    fill: $c-white;
  }
  &.ico-white,
  &.c-invert {
    path {
      fill: $c-white;
    }
  }
  &.ico-error {
    path {
      fill: $c-error;
    }
  }
  &.ico-success {
    path {
      fill: $c-valid;
    }
  }
  &.ico-feel {
    path {
      fill: $c-feel-dark;
    }
  }
}
.has-light {
  svg {
    path {
      fill: white;
      stroke: none;
    }
  }
  a {
    color: $c-white;
  }
  a:focus,
  a:hover,
  a:active {
    text-decoration: none;
    color: $c-white;
  }
}
.has-error {
  svg {
    path {
      fill: $c-error;
    }
  }
}
.has-feel {
  svg {
    path {
      fill: $c-feel-dark;
    }
  }
}
.has-success {
  svg {
    path {
      fill: $c-success;
    }
  }
}
.ico-ball {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: $c-middle-grey;
  flex: 0 0 40px;
  .ico-count {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    background-color: $c-primary;
    color: $c-white;
    text-align: center;
    line-height: 1.6;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: 1px solid $c-white;
    font-weight: 600;
  }
  svg {
    margin-top: -4px;
  }
}
.x24 {
  width: 24px;
  height: 24px;
}
.x32 {
  width: 32px;
  height: 32px;
}
.x48 {
  width: 48px;
  height: 48px;
}
.x64 {
  width: 64px;
  height: 64px;
}
.btn.btn-link.has-ico-pre {
  padding-left: 18px;
  .ico-pre {
    margin: 0;
    top: -1px;
  }
}
.has-ico-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  svg {
    margin-top: 0;
    margin-right: 4px;
  }
  div {
    svg {
      margin-top: 0;
      margin-right: 4px;
    }
  }
}
svg-icon.ico-post,
svg-icon.ico-pre {
  margin: 0 16px;
  top: 50%;
  transform: translateY(-50%);
}
