@import "../abstract/_all.scss";

//   -BACKGROUNDS        
 
 
 .bg-cover{
  background-position: center center;
  background-size: cover;
}

.bg-dark {
 background-color: $c-middle-grey;
 color: $c-white;
}

.has-light {
  color: $c-white;
 }



