
/*+------------------------------------------------------------+
 |       -BACKGROUNDS        
 +------------------------------------------------------------+*/
 
 .bg-cover{
  background-position: center center;
  background-size: cover;
}

.bg-dark {
 background-color: $gray-10;
 color: $color-1;
}

.has-light {
  color: $color-1;
 }



