
/*+------------------------------------------------------------+
 |       -BACKGROUNDS        
 +------------------------------------------------------------+*/
 
 .bg-cover{
  background-position: center center;
  background-size: cover;
}

.bg-dark {
 background-color: #3dbfcb;
 color: #fff;
}
