@import '../abstract/_all';

.margin-auto {
  margin: 0 auto;
}

@for $i from 1 through length($espaciados) {
  $espaciado: nth($espaciados, $i);
  .m-#{$espaciado} {
    margin: #{$espaciado}px;
  }

  .mx-#{$espaciado} {
    margin-left: #{$espaciado}px;
    margin-right: #{$espaciado}px;
  }

  .my-#{$espaciado} {
    margin-top: #{$espaciado}px;
    margin-bottom: #{$espaciado}px;
  }
  .mt-#{$espaciado} {
    margin-top: #{$espaciado}px;
  }
  .mr-#{$espaciado} {
    margin-right: #{$espaciado}px;
  }
  .mb-#{$espaciado} {
    margin-bottom: #{$espaciado}px;
  }
  .ml-#{$espaciado} {
    margin-left: #{$espaciado}px;
  }
  .p-#{$espaciado} {
    padding: #{$espaciado}px;
  }

  .px-#{$espaciado} {
    padding-left: #{$espaciado}px;
    padding-right: #{$espaciado}px;
  }

  .py-#{$espaciado} {
    padding-top: #{$espaciado}px;
    padding-bottom: #{$espaciado}px;
  }

  .pt-#{$espaciado} {
    padding-top: #{$espaciado}px;
  }
  .pr-#{$espaciado} {
    padding-right: #{$espaciado}px;
  }
  .pb-#{$espaciado} {
    padding-bottom: #{$espaciado}px;
  }
  .pl-#{$espaciado} {
    padding-left: #{$espaciado}px;
  }
}
