@import '../abstract/_all';

body {
  @include font-regular;

  -webkit-overflow-scrolling: touch;
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

select {
  @include font-regular;
}

p {
  @include font-regular;

  margin: 0;
  font-size: $text-sm;

  @media (min-width: $break-md) {
    font-size: $text-md;
  }

  &.b {
    @include font-regular;

    color: $c-primary;
  }
}

a {
  color: $c-primary;
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p1 {
  span {
    color: $c-primary;
  }
}

b,
mark {
  color: $c-primary;
}

.secondary {
  font-family: $font-family-c-r;
  font-weight: 100;
}

@include typesFixers($headersFixers, $fs);
@include mintypes($minbreakpoints, $minheaders, $fs);
@include types($breakpoints, $headers, $fs); /* todo una vez incluida */

@include typesFluids($headersFluids);

//

.text-light,
.font-light {
  // 2
  @include font-light;
}
.text-regular,
.font-regular {
  @include font-regular;
}
.text-medium,
.font-medium {
  @include font-medium;
}
.text-semibold,
.font-semibold {
  @include font-semibold;
}
.text-bold,
.font-bold {
  //2
  @include font-bold;
}

.is-through {
  position: relative;
  width: max-content;

  &::after {
    content: '';
    background-color: $c-primary;
    width: 100%;
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 1px;
  }
}

.c-gray.is-through {
  &::after {
    background-color: $c-dark-grey;
  }
}
