/*+------------------------------------------------------------+
 |       -HTML REMS        
 +------------------------------------------------------------+*/
html {
  font-size: 1rem;
  @include font-regular();

  @media all and (max-width: 640px) {
    overflow-x: hidden;
  }

  @media all and (min-width: $break-xs) {
    font-size: calc(1rem + 0.5vw);
  }

  @media all and (min-width: $break-xs + 700) {
    font-size: calc(1rem + 0.2vw);
  }

  @media all and (min-width: $break-xs + 1100) {
    font-size: calc(1rem + 0.3vw);
  }

  @media all and (min-width: $break-xs + 1400) {
    font-size: calc(1rem + 0.4vw);
  }
}




$fs: "font-size";
$lh: "line-height";
$headers:/* name:mobile,768,992,1280,line-height,font */
(h1: (32px, 32px, 32px, 40px, 1.2, "medium"),
  h2: (24px, 24px, 24px, 32px, 1.2, "medium"),
  h3: (18px, 18px, 18px, 24px, 1.2, "medium"),
  h4: (16px, 16px, 16px, 18px, 1.2, "medium"),
  h5: (14px, 14px, 14px, 16px, 1.2, "medium"),
  h6: (12px, 12px, 12px, 14px, 1.2, "medium"),
  h7: (10px, 10px, 10px, 12px, 1.2, "medium"),
  h8: (8px, 8px, 8px, 10px, 1.2, "medium"),
  display1: (32px, 32px, 32px, 48px, 1.2, "bold"),
  /* PROMOTIONS BANNER */
  display2: (20px, 20px, 20px, 40px, 1.2, "bold"),
  /* SALES */
  display3: (16px, 16px, 16px, 24px, 1.5, "medium"),
  /* BLACK FRIDAY */
  display4: (14px, 14px, 14px, 24px, 1.5, "medium"),
  /* SALES */
  display5: (14px, 14px, 14px, 18px, 1.5, "regular"),
  /* BLACK FRIDAY */
  display6: (12px, 12px, 12px, 18px, 1.5, "regular"),
  /* SALES */
  display7: (14px, 14px, 14px, 18px, 1.5, "medium"),
  /* SALES + BLACK FRIDAY */
  p1: (12px, 12px, 12px, 14px, 1.4, "regular"),
  p2: (14px, 16px, 16px, 18px, 1.4, "regular"),
  p4: (14px, 16px, 16px, 18px, 1.4, "medium"));



/* array para elementos fijos*/
$headersFixers: (/*name :  fontsize, lineheight */
  12 : (12px, 1.5),
  14 : (14px, 1.5),
  16 : (16px, 1.5),
  18 : (18px, 1.5),
  20 : (20px, 1.5),
  24 : (24px, 1.5),
);






select {
  @include font-regular();
}

/*+------------------------------------------------------------+
 |       -HEADERS ELÁSTICOS        
 +------------------------------------------------------------+*/
p {
  @include font-regular();
  margin: 0;
  font-size: 14px;

  &.b {
    @include font-medium();
    color: $primary;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p1 {
  span {
    color: $primary;
  }
}

b,
mark {
  color: $primary;
  @include font-bold()
}

/*+------------------------------------------------------------+
 |       -LINKS        
 +------------------------------------------------------------+*/
.text-1 {
  font-size: 16px;
}

.text-2 {
  font-size: 18px;
  line-height: 1.6;
}




/*+-----------------------------------------------------------------------------------------+
 |       -FLUID TEXT   Desde min_width   hasta  break-lg  <--->  font-minima hasta font-maxima
 +-------------------------------------------------------------------------------------------+*/
 


.fluid-h1 {
  @include fluid-text($min_width, $break-lg, 30px, 88px);
  @include font-regular()
}

.fluid-h2 {
  @include fluid-text($min_width, $break-lg, 24px, 48px);
  line-height: 1.2;
  @include font-bold()
}

.fluid-h3 {
  @include fluid-text($min_width, $break-lg, 18px, 24px);
  line-height: 1.2;
  @include font-light()
}

.fluid-h4 {
  @include fluid-text($min_width, $break-lg, 16px, 22px);
  line-height: 1.2;
  @include font-bold()
}

.fluid-h5 {
  @include fluid-text($min_width, $break-lg, 14px, 20px);
  line-height: 1.2;
  @include font-medium()
}

.fluid-h6 {
  @include fluid-text($min_width, $break-lg, 14px, 18px);
  font-size: calc(1em + 0.25vw);
  @include font-light()
}

.fluid-h7 {
  @include fluid-text($min_width, $break-lg, 12px, 18px);
  @include font-regular()
}

.miller{
  font-family:$font-family-secondary;
}




@include typesFixers($headersFixers, $fs);
@include types($breakpoints, $headers, $fs);

