@import '../abstract/_all';

.box4 {
  position: relative;
  display: flex;
  ul {
    margin-left: 16px;
    margin-top: 4px;
  }
  &::before {
    width: 2px;
    height: calc(100% - 48px);
    content: '';
    position: absolute;
    background-color: $c-dark-grey;
    top: 44px;
    left: 20px;
  }
}
