@import '../abstract/_all';

.card {
  width: 100%;
}

.text-box {
  $text-box-img: 80px;

  .text-box-img {
    display: inline-block;
    width: $text-box-img - $padding-global;
    height: $text-box-img - $padding-global;
    margin: 5px $padding-global 0 0;
    vertical-align: top;
    box-sizing: border-box;
  }

  .text-box-inner {
    box-sizing: border-box;
    width: calc(100% - #{$text-box-img} - 5px);
    display: inline-block;
  }
}
