.card3{
    width: 100%;
    float: left;
    span{position: absolute;
    
    bottom:$padding-global;
    left: $padding-global;
    }
  
  
    &.half{
      width: 50%;
  
    }
  }

/* .card3>img>span{texto} */

/* .card3.half>img>span{texto} */