.card6 {

    background: #eaeaea;
        .card6-img {
            width: 100%;
        }
    
    
        .card6-content {
            padding: $padding-global * 2;
            width: 100%;
            position: relative;
            box-sizing: border-box;
    
        }
    
    }
    