
.card7{
    .card7-img {
        width: 100%;
    }
    .card7-text {
        text-align: center;
        padding: $padding-global 0;
        width: 100%;
    }
}


/*  .card7>.card7-img+.card7-text>h5.h5{titulo}  */
