@import "../abstract/_all";

.card {
  width: 100%;
}

.card1 {
  border: 1px solid $c-middle-grey;
  align-items: stretch;
  height: calc(100% - 20px);
  padding-bottom: 30px;
  position: relative;
}

.img-bg {
  background-position: top left;
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $break-sm) {
    padding-bottom: 0;
    height: 100%;
  }
}

.text-box {
  $text-box-img: 80px;

  .text-box-img {
    display: inline-block;
    width: $text-box-img - $padding-global;
    height: $text-box-img - $padding-global;
    margin: 5px $padding-global 0 0;
    vertical-align: top;
    box-sizing: border-box;
  }

  .text-box-inner {
    box-sizing: border-box;
    width: calc(100% - #{$text-box-img} - 5px);
    display: inline-block;
  }
}

.card-video {
  position: relative;

  .card-video-play {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    padding-top: 25px;
    border-radius: 50%;
    text-align: center;
    color: $c-white;
    border: 5px solid $c-white;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 100;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.minicard-3 {
  svg-icon {
    display: block;
    padding-bottom: 16px;
    transform: scale(1.4);
  }

  @media (max-width: #{$break-sm - 1}) {
    svg-icon {
      padding-right: 16px;
      padding-bottom: 0;
      transform: scale(1);
      .is-rtl & {
        padding-right: 0;
        padding-left: 16px;
      }
    }
    display: flex;
    align-items: center;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

