
.cover2 {
    h1 {
        position: absolute;
        z-index: 2;
    }
    video {
        position: absolute;
        z-index: 1;
        width: 100%;
        object-fit: cover;
    }
    
    img{

      z-index: 1;
      width: 100%;
    }
}
