.cover5 {
    width: 100%;
   .cover5-img{
       width: 60px;
   }
   .cover5-text{
       height: 100%;
       h2,h3,p,a{
           width: 100%;
       }
}

}

/* .cover5>.cover5-img+.cover5-text>.h2{lorem} */