.cover1 {
  .cover1-content {
      position: absolute;
  }
  .cover1-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center center;
  }
  .mini-logo {
      width: 50px;
      margin: 0 auto;
      svg {
          fill: white;
      }
  }
  .cover1-down-button {
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 200px;
  }
}