@import "../abstract/_all.scss";
$border-gray: $c-middle-grey;

.box-intro-feel {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 0 -8px;
	@media (min-width: $break-md) {
		min-height: 256px;
		margin: 0 ;
    }
}  

.h-center {
	margin: 0 auto;
	text-align: center;
}
.qr-box {
	background: $c-white;
	width: 100%;
	max-width: 150px;
	color: $c-dark-grey;
	font-size: 10px;
}
.feel-calendar{
 margin-top: 16px;
    @media (min-width: $break-md) {
        min-height: 48px;
    }
}
.feel-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
    transition: all ease .2s;
	transform: rotate(-45deg);
	svg {
		padding: 4px;
		width: 100%;
		height: 100%;
	}
}
.feel-minibox {
	padding:  24px;
    transition: all ease .2s;
   &:hover {
       background-color: $c-light-grey;
       cursor: pointer;
    .feel-close{
		transform: rotate(136deg);
    }
   }
   @media (min-width: $break-md) {
	padding: 48px ;
    }
}
.is-opened{
    .feel-close{
        transform: rotate(0);
    }
}
.feel-bar {
	border-top: 1px solid $border-gray;
	border-bottom: 1px solid $border-gray;
	a {
		padding: 8px;
		display: inline-block;
	}
}
.list-active {
	position: relative;
	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 4px;
		background-color: $c-primary;
		bottom: 0;
		left: 0;
	}
}
.feel-group {
	display: flex;
	> :nth-child(2) {
		order: 2;
	}
	> :nth-child(3) {
		order: 3;
	}
	> :nth-child(4) {
		order: 4;
	}
	> :nth-child(5) {
		order: 5;
	}
	> :nth-child(6) {
		order: 6;
	}
	@media (min-width: 992px) {
		> :nth-child(2) {
			order: 4;
		}
		> :nth-child(3) {
			order: 3;
		}
		> :nth-child(4) {
			order: 5;
		}
		> :nth-child(5) {
			order: 3;
		}
		> :nth-child(6) {
			order: 6;
		}
	}
}

.feel-minibox-info{
    width: 100%;
    .feel-minibox-info{
    width: 100%;
    height: 0;
    display: block;
    transition: 1s ease all;
    transition-delay: .3s;
    overflow: hidden;
    opacity: 0;
    z-index: 10;
    }
    &.open{
        .feel-minibox-info{
      
            display: block;
            transition: .3s ease all;
            opacity: 1;
			height: 90vh;
            z-index: 20;
            background: $c-light-grey;
			@media (min-width: 992px) {
				height: 369px;
			}
        }
    }
    &.close{
        .feel-minibox-info{
       
            display: block;
            transition: .3s ease all;
            opacity: 1;
            height: 0;
            z-index: 20;
            background: $c-light-grey;
       
        }
    }
}



.feel-minibox-info{
	width: 100%;

	.feel-minibox-wrap{
		padding: 32px 24px;
		@media (min-width: $break-md) {
			padding: 64px 56px;
		}
	}
}


.feel-minibox-txt {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}


.b-light {
	border-bottom: 1px solid $border-gray;
}
.b-light:first-child {
	border-right: 1px solid $border-gray;
}
.b-light:nth-child(2) {
	border-right: 1px solid $border-gray;
}
.b-light:nth-child(3) {
	border-right: 1px solid $border-gray;
}
.slider-irregular{
    width: max-content;
    overflow: auto;
}
.feel-slide{
    padding: 8px;
    width: 300px;
    background-color: $c-middle-grey;
    margin-right: 8px;
float: left;
}
.feel-slide-text{
    padding: 8px;
}
.slider-irregular-wrap{
    min-height: 300px;
    overflow: auto;
        margin-left: -8px;
}
.ml-content {
	@media (min-width: $break-sm) {
		margin-left: calc(((100vw - 90vw) / 2) - 8px);
	}
	@media (min-width: $break-md) {
		margin-left: calc(((100vw - 80vw) / 2) - 8px);
	}
	@media (min-width: $break-lg) {
	
		margin-left: calc((100vw - 1280px) / 2 - 8px);
	}
}
.mr-content {
	@media (min-width: $break-sm) {
		margin-right: calc(((100vw - 90vw) / 2) - 8px);
	}
	@media (min-width: $break-md) {
		margin-right: calc(((100vw - 80vw) / 2) - 8px);
	}
	@media (min-width: $break-lg) {
	
		margin-right: calc(((100vw - 1280px) / 2) - 8px);
	}
}
.pd-24{
    padding:24px; 
}
.bg-feel{
	background-color: $c-light-grey;
}
.bg-white{
	background-color: $c-white;
}
.container-slider-native{
    overflow: auto;
	padding: 8px 16px;
	.row{
		width: max-content;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.col-xs-3{
		flex: 0 0 60vw;
		max-width: 60vw;
	}
	@media (min-width: $break-sm) {
		.col-xs-3{
			flex: 0 0 40vw;
			max-width: 40vw;
		}
	}
	@media (min-width: $break-lg) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		.col-xs-3{
			flex: 0 0 25%;
			max-width: 25%;
		}
	}
}