
@media (max-width: 768px) {
	.header-account-logo{
		display: none;
	}
}

.header-account-head{
	position: relative;
    height: 56px;
	padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
	overflow: hidden;
	background-color: #ffffff;
z-index: 100;
border-bottom: 1px solid #eaeaea;
	@media (min-width: 768px) {
		height: 72px;
		padding: 0 20px;
	}
}
.header-account-first{
	position: relative;
	min-width: 120px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
.header-account-cart{
	min-width: 120px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
    justify-content: flex-end;
	svg{
		transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
}
.header-account-back{
	transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .4s;
		position: absolute;
		top: 50%;
		left:0;
		transform: translateY(-50%);
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
}
.header-account-count{
	transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .4s;
	display: flex;
	position: absolute;
	top: 50%;
	left:0;
	transform:  translateY(-100px);
}
.header-cart{
	position: absolute;
	z-index: 50;
    width: 100%;
    height: 500px;
	top: 0;
	opacity: 0;
	transform:  translateY(-100px);
    left: 0;
    padding: 24px;
	transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
	@media (min-width: 768px) {
		transform:  translateY(-100px);
	}
}
.header-cart-resume{
    position: absolute;
    padding: 24px 24px ;
    left: 0px;
	right: 0px;
    bottom: 0;
	border-top: 1px solid #eaeaea;
}
.header-cart-list{
	width: 100%;
	padding-top: 20px;
	height	: calc(100%  - 132px) ;
	overflow: auto;
}



.is-cart{
	.header-account-cart svg{
		transform: rotate( 180deg );
	}
	.header-account-back{
		transform:  translateY(100px);
	}
	.header-account-count{
		transform: translateY(-50%);
	}
	.header-cart{
			opacity: 1;
			transform:  translateY(56px);
		@media (min-width: 768px) {
			transform:  translateY(72px);
		}
	}
}
