.hg-bread {
    background-color: #F5F5F5;
    padding: 12px 0;
    .hg-bread-inner {
      display: table;
      text-align: center;
      margin: 0 auto;
    }
    .hg-bread-item {
      display: inline-table;
      vertical-align: middle;
      text-align: center;
      padding: 0 20px;
    }
    .hg-bread-num {
      background-color: #000;
      text-align: center;
      width: 17px;
      height: 17px;
      color: #fff;
      font-size: 10px;
      line-height: 1;
      border-radius: 50px;
      overflow: hidden;
      margin: 0 auto 10px;
      padding: 4px;
    }
    .hg-bread-line {
      display: inline-table;
      vertical-align: middle;
      div {
        width: 42px;
        height: 1px;
        background-color: black;
      }
    }
    .is-inactive {
      opacity: .4;
    }
  }