.hg-bread {
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid #E3E3E3;
    .hg-bread-inner {
      display: table;
      text-align: center;
      margin: 0 auto;
    }
    .hg-bread-item {
      display: inline-table;
      vertical-align: middle;
      text-align: center;
      border-bottom: 2px solid #fff;
      padding: 14px;
      min-width: 100px;
      text-transform: uppercase;
    }
    .hg-bread-num {
      background-color: #000;
      text-align: center;
      width: 17px;
      height: 17px;
      color: #fff;
      font-size: 10px;
      line-height: 1;
      border-radius: 70px;
      overflow: hidden;
      margin: 0 auto 12px;
      padding: 4px;
    }
    .hg-bread-line {
      display: inline-table;
      vertical-align: middle;
      div {
        width: 42px;
        height: 1px;
        background-color: black;
      }
    }
    .hg-bread-title{
      line-height: 1;
    }
    .is-inactive {
      opacity: .4;
    }
      .is-active   {
      border-bottom: 2px solid black;
    }
  }
