.row6 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;

  .col {
    -webkit-box-flex: 1;
    flex-grow: 1;

    flex-basis: calc(100% - 1em);


    @media (min-width:$break-sm) {
      flex-basis: calc(50% - 1em);
    }


    @media (min-width:$break-md) {
      flex-basis: calc(33.33% - 1em);
    }

    @media (min-width:$break-lg) {
      flex-basis: calc(33.33% - 1em);
    }
  }
}

/**

 section>.container>.row-6>.col>.h5+p.p1
**/


/**

 section>.container>.row-6>.col>.h5+p.p1
**/
