.row-6 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;

  .col {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: ($break-lg  / 6) + 100px;

  }
}


/**

 section>.container>.row-6>.col>.h5+p.p1
**/
