.text-2 {
    width: 100%;
    position: relative;

    .text-2-content {

        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;

        [class*="h"] {
            flex-grow: 0.15;
            @include font-regular();
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.5px;
            color: #808284;
            margin-top: 5px;
        }

        div {
            height: 2px;
            background: #eaeaea;
            flex-grow: 1;
        }

    }

}

/*
TITULO: Separador linea titular linea

ZEN:
.text-2>.text-2-content>div+h3.h3{titulo}+div

*/