/*+------------------------------------------------------------+
 |       -BOTONES    
 +------------------------------------------------------------+*/
/*
 * Definimos los botones y sus variantes
 */
 
/**
 * .btn es la clase principal para definir un botón  es el tipo
 */
.btn {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 14px;
    margin-right: $padding-global;
    vertical-align: middle;
    border: none;
    line-height: 38px;
    white-space: nowrap;
    cursor: pointer;
    border-radius:500px;

    /**
 	* Nadie quiere un botón con texto subrayado cuando hacemos hover.
 	*/
    &:hover {
        text-decoration: none;
        opacity: .6;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:visited {outline: none;}
}

/*+------------------------------------------------------------+
 |       -TAMAÑOS    
 +------------------------------------------------------------+*/
$btn-text-mini:12px;
$btn-text-small:14px;
$btn-text-medium:14px;
$btn-text-large:14px;
$btn-text-xlarge:16px;
$btn-text-full:16px;

.btn--mini {
    padding-right: $padding-global * 3;
    padding-left: $padding-global * 3;
    font-size: $btn-text-mini;
    line-height: $btn-text-mini*2;
}

.btn--small {
    padding-right: $padding-global * 5;
    padding-left: $padding-global * 5;
    font-size: $btn-text-small;
    line-height: $btn-text-small * 2;
}

.btn--medium {
    padding-right: $padding-global * 2;
    padding-left: $padding-global * 2;
    font-size: $btn-text-medium;
    line-height: $btn-text-medium * 3 + 4;
}

.btn--large {
    padding-right: $padding-global * 7;
    padding-left: $padding-global * 7;
    font-size: $btn-text-large;
    line-height: $btn-text-large * 3;
}

.btn--xlarge {
    padding-right: $padding-global * 8;
    padding-left: $padding-global * 8;
    font-size: $btn-text-xlarge;
    line-height: $btn-text-xlarge * 3 - 2;
}

.btn--full {
    width: 100%;
    padding-right: $padding-global * 8;
    padding-left: $padding-global * 8;
    font-size: $btn-text-full;
    line-height: $btn-text-full * 3 - 2;
}

/*+------------------------------------------------------------+
 |       -MODIFICADORES DE TAMAÑO    
 +------------------------------------------------------------+*/
.btn-xs {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 12px;
    margin-right: $padding-global;
    white-space: nowrap;
    cursor: pointer;
    padding: $padding-btn / 2;

    /**
 	* Nadie quiere un botón con texto subrayado cuando
 	* hacemos hover.
 	*/
    &:hover {
        text-decoration: none;
        opacity: .6;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:visited {  outline: none;}
}

.btn-block {
    display: block;
    width: 100%;
}

.link-btn {
    height: 42px;
    width: 100%;
    line-height: 42px;
    text-align: center;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background: $primary;
    border: none;
    color: #fff;
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/*+------------------------------------------------------------+
 |       -TIPOS DE BOTONES    
 +------------------------------------------------------------+*/
/**
 * Variantes de los botones por tamaño.
 *
 */
.btn-primary {
    color: #fff;
    background-color: $primary;
    border: 1px solid $primary;
}

.btn-phantom {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

.btn-phantom-invert {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

/*+------------------------------------------------------------+
 |       -GRUPOS DE BOTONES    
 +------------------------------------------------------------+*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn-group {
    position: relative;

    [class^="btn--"],
    [class*=" btn--"] {
        position: relative;
        border-radius: 0;
        float: left;
        margin-left: -1px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {outline:none;}
    }
}

.btn-group-inline {
    text-align: center;
    max-width: 480px;
    margin: 0 auto;

    .btn {
        display: inline-block;
        width: auto;
        min-width: 200px;
        margin: 0 5px;
    }
}
