@use '../abstract/_all';
@use '../abstract/setup';

.marketing-spot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 16px;
  border: 1px solid setup.$c-primary;
  margin-top: 16px;

  svg-icon {
    margin-right: 8px;
    z-index: -1;
  }
}

@mixin banner() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 24px 16px;
  margin-top: 16px;
  text-align: center;
}

.banner-warning {
  @include banner;

  background-color: setup.$c-warning;
  color: setup.$c-white;
}

.banner-info {
  @include banner;

  background-color: setup.$c-info;
  color: setup.$c-white;
}

.banner-valid {
  @include banner;

  background-color: setup.$c-valid;
  color: setup.$c-white;
}

.banner-alert {
  @include banner;

  background-color: setup.$c-alert;
  color: setup.$c-primary;
}

.banner-feel {
  @include banner;

  background-color: setup.$c-feel;
  color: setup.$c-primary;
}

.banner-limited {
  @include banner;

  background-color: setup.$bg-black;
  color: setup.$c-white;
}
