@use 'sass:math';
@use '../abstract/_all';
@use '../abstract/breakpoints';
@use '../abstract/mixins';
@use '../abstract/setup';

input:is([type='button'], [type='submit'], [type='reset']),
input[type='file']::file-selector-button,
button {
  color: setup.$c-primary;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: setup.$btn-radius;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  font-size: setup.$btn-text-full;
  vertical-align: middle;
  justify-content: center;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  padding: setup.$btn-padding;
  background-color: transparent;

  @include mixins.font-regular;

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    text-decoration: none;
    opacity: 0.6;
    outline: none;
  }
  &[disabled],
  &:disabled,
  &.disabled {
    pointer-events: none;
    filter: grayscale(1);
    background-color: setup.$c-middle-grey;
    border: 1px solid setup.$c-middle-grey;
    color: setup.$c-dark-grey;
    opacity: 1;
    cursor: not-allowed;
  }

  .has-light & {
    color: setup.$c-primary;
    border-color: setup.$c-white;
    background-color: setup.$c-white;

    &::after {
      background-color: setup.$c-white;
    }

    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:visited,
    &:active,
    &.active {
      color: setup.$c-white;
      background-color: setup.$c-middle-grey;
      border-color: setup.$c-middle-grey;
    }

    &[disabled],
    &:disabled,
    &.disabled {
      cursor: default;
      pointer-events: none;
      filter: grayscale(1);
      background-color: setup.$c-middle-grey;
      border: 1px solid setup.$c-middle-grey;
      color: setup.$c-dark-grey;
      opacity: 1;
    }
  }

  &.btn-separate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: setup.$btn-padding;

    svg {
      margin-left: 8px;
    }

    &.btn--mini,
    &.btn--small {
      width: max-content;
    }
  }
  &.btn-feel-invert {
    color: setup.$c-primary;
    background-color: transparent;
    border: 1px solid setup.$c-feel;
    svg {
      g {
        fill: setup.$c-primary;
        stroke: setup.$c-primary;
      }
      circle {
        stroke: setup.$c-primary;
      }
    }
    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      color: setup.$c-primary;
      opacity: 1;
      border-color: rgba(setup.$c-feel, 0.5);
    }

    &[disabled],
    &:disabled,
    &.disabled {
      opacity: 1;
      border-color: setup.$c-light-grey;
      color: setup.$c-dark-grey;
      cursor: default;
    }
  }

  &.has-ico-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.btn-clear {
    padding: 8px;
    background: none;
    border: none;
  }
}

.btn-xs {
  position: relative;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: setup.$text-sm;
  margin-right: setup.$padding-global;
  white-space: nowrap;
  cursor: pointer;
  padding: math.div(setup.$btn-padding, 2);

  &:active,
  &:focus,
  &:visited {
    outline: none;
  }
}

.btn--mini {
  padding: setup.$padding-global * 1 + 2px setup.$padding-global * 3 setup.$padding-global * 1
    setup.$padding-global * 3;
  font-size: setup.$btn-text-mini;
}

.btn--small {
  height: 48px;
  padding-right: setup.$padding-global * 2;
  padding-left: setup.$padding-global * 2;
  font-size: setup.$btn-text-small;
}

.btn--medium {
  padding-right: setup.$padding-global * 5;
  padding-left: setup.$padding-global * 5;
  font-size: setup.$btn-text-medium;
  max-width: 272px;
  width: 100%;
  height: 48px;
}

.btn--mini-rd {
  padding-right: setup.$padding-global * 3;
  padding-left: setup.$padding-global * 3;
  font-size: setup.$btn-text-mini;
  height: 32px;
  display: inline-flex;
  align-content: center;
  align-items: center;

  @media (min-width: breakpoints.$break-sm) {
    padding: setup.$padding-global * 2;
    font-size: setup.$btn-text-small;
    height: 48px;
  }
}

.btn--large {
  height: 48px;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  padding-right: setup.$padding-global * 7;
  padding-left: setup.$padding-global * 7;
  font-size: setup.$btn-text-large;
}

.btn--xlarge {
  padding-right: setup.$padding-global * 8;
  padding-left: setup.$padding-global * 8;
  position: relative;
  display: inline-flex;
  min-height: 48px;
  min-width: 200px;
  max-width: 400px;
  padding: setup.$btn-padding;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn--full {
  width: 100%;
  padding-right: setup.$padding-global * 2;
  padding-left: setup.$padding-global * 2;
  font-size: setup.$btn-text-full;
  height: 48px;
}

.btn--round {
  border-radius: 50px;
}

.btn-primary {
  color: setup.$c-white;
  background-color: setup.$c-primary;
  border: 1px solid setup.$c-primary;

  svg {
    g {
      fill: setup.$c-white;
      stroke: setup.$c-white;
    }
    circle {
      stroke: setup.$c-white;
    }
    path {
      fill: setup.$c-white;
    }
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    color: setup.$c-white;
    background-color: setup.$c-dark-grey;
    border: 1px solid setup.$c-dark-grey;
    opacity: 1;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    background-color: setup.$c-middle-grey;
    border: 1px solid setup.$c-middle-grey;
    color: setup.$c-dark-grey;
    opacity: 1;

    svg {
      g {
        fill: setup.$c-dark-grey;
        stroke: setup.$c-dark-grey;
      }

      circle {
        stroke: setup.$c-dark-grey;
      }
      path {
        fill: setup.$c-dark-grey;
      }
    }
  }

  .has-light & {
    color: setup.$c-primary;
    background-color: setup.$c-white;
    border: 1px solid setup.$c-white;

    svg {
      g {
        fill: setup.$c-primary;
        stroke: setup.$c-primary;
      }

      circle {
        stroke: setup.$c-primary;
      }
      path {
        fill: setup.$c-primary;
      }
    }

    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      color: setup.$c-white;
      background-color: setup.$c-dark-grey;
      border: 1px solid setup.$c-dark-grey;
      opacity: 1;

      svg {
        g {
          fill: setup.$c-white;
          stroke: setup.$c-white;
        }

        circle {
          stroke: setup.$c-white;
        }
        path {
          fill: setup.$c-white;
        }
      }
    }

    &[disabled],
    &:disabled,
    &.disabled {
      background-color: setup.$c-middle-grey;
      border: 1px solid setup.$c-middle-grey;
      color: setup.$c-dark-grey;
      opacity: 1;
    }
  }
}

.btn-secondary {
  color: setup.$c-primary;
  background-color: setup.$c-white;
  border: 1px solid setup.$c-primary;

  svg {
    g {
      fill: setup.$c-primary;
      stroke: setup.$c-primary;
    }
    circle {
      stroke: setup.$c-primary;
    }
    path {
      fill: setup.$c-primary;
    }
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    color: setup.$c-primary;
    background-color: setup.$c-white;
    border: 1px solid setup.$c-dark-grey;
    opacity: 1;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    background-color: setup.$c-white;
    border: 1px solid setup.$c-middle-grey;
    color: setup.$c-dark-grey;
    opacity: 1;

    svg {
      g {
        fill: setup.$c-middle-grey;
        stroke: setup.$c-middle-grey;
      }

      circle {
        stroke: setup.$c-middle-grey;
      }
      path {
        fill: setup.$c-middle-grey;
      }
    }
  }

  .has-light & {
    color: setup.$c-white;
    background-color: transparent;
    border: 1px solid setup.$c-white;

    svg {
      g {
        fill: setup.$c-white;
        stroke: setup.$c-white;
      }

      circle {
        stroke: setup.$c-white;
      }
      path {
        fill: setup.$c-white;
      }
    }

    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      color: setup.$c-white;
      background-color: setup.$c-dark-grey;
      border: 1px solid setup.$c-dark-grey;
      opacity: 1;

      svg {
        g {
          fill: setup.$c-white;
          stroke: setup.$c-white;
        }

        circle {
          stroke: setup.$c-white;
        }
        path {
          fill: setup.$c-white;
        }
      }
    }

    &[disabled],
    &:disabled,
    &.disabled {
      background-color: transparent;
      border: 1px solid setup.$c-dark-grey;
      color: setup.$c-dark-grey;
      opacity: 1;
    }
  }
}

.btn-phantom {
  color: setup.$c-white;
  background-color: transparent;
  border: 1px solid setup.$c-white;

  svg {
    g {
      fill: setup.$c-white;
      stroke: setup.$c-white;
    }

    circle {
      stroke: setup.$c-white;
    }

    path {
      fill: setup.$c-white;
    }
  }
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    color: setup.$c-primary;
    background-color: transparent;
    border: 1px solid setup.$c-dark-grey;
    opacity: 1;
  }
}

.btn-limited {
  height: 48px;
  color: setup.$c-white;
  background-color: setup.$c-limited;
  border: 1px solid setup.$c-limited;

  svg {
    g {
      fill: setup.$c-white;
      stroke: setup.$c-white;
    }

    circle {
      stroke: setup.$c-white;
    }
    path {
      fill: setup.$c-white;
    }
  }
}

.btn-primary-feel {
  color: setup.$c-primary;
  background-color: setup.$c-feel;

  svg {
    g {
      fill: setup.$c-primary;
      stroke: setup.$c-primary;
    }

    circle {
      stroke: setup.$c-primary;
    }
    path {
      fill: setup.$c-primary;
    }
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    color: setup.$c-primary;
    opacity: 1;
    background-color: rgba(setup.$c-feel, 0.6);
  }

  &:disabled,
  &[disabled],
  &.disabled {
    pointer-events: none;
    cursor: default;
    border: 1px solid setup.$c-middle-grey !important;
    color: setup.$c-dark-grey !important;
    background-color: setup.$c-middle-grey !important;
    filter: none;
    opacity: 1;
    svg-icon {
      background-color: setup.$c-middle-grey !important;
      border: 1px solid setup.$c-middle-grey !important;
    }
  }
}

.btn-secondary-feel {
  color: setup.$c-primary;
  background-color: setup.$c-white;
  border: 1px solid setup.$c-primary;

  svg {
    g {
      fill: setup.$c-primary;
      stroke: setup.$c-primary;
    }

    circle {
      stroke: setup.$c-primary;
    }
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    opacity: 1;
    color: setup.$c-primary;
    border: 1px solid setup.$c-dark-grey;
    background-color: setup.$c-white;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    pointer-events: none;
    cursor: default;
    border: 1px solid setup.$c-middle-grey !important;
    color: setup.$c-dark-grey !important;
    background-color: setup.$c-middle-grey !important;
    filter: none;
    opacity: 1;
    svg-icon {
      background-color: setup.$c-middle-grey !important;
      border: 1px solid setup.$c-middle-grey !important;
    }
  }

  .has-light & {
    color: setup.$c-white;
    border-color: setup.$c-white;
    background-color: transparent;

    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      opacity: 1;
      color: setup.$c-white;
      border: 1px solid setup.$c-dark-grey;
      background-color: setup.$c-dark-grey;
    }
  }
}

.btn-tertiary {
  color: setup.$c-primary;
  background-color: setup.$c-white;
  border: 1px solid setup.$c-primary;

  svg {
    g {
      fill: setup.$c-primary;
      stroke: setup.$c-primary;
    }

    circle {
      stroke: setup.$c-primary;
    }
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    opacity: 1;
    color: setup.$c-primary;
    border: 1px solid setup.$c-dark-grey;
    background-color: setup.$c-white;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    pointer-events: none;
    cursor: default;
    border: 1px solid setup.$c-middle-grey !important;
    color: setup.$c-dark-grey !important;
    background-color: setup.$c-middle-grey !important;
    filter: none;
    opacity: 1;
    svg-icon {
      background-color: setup.$c-middle-grey !important;
      border: 1px solid setup.$c-middle-grey !important;
    }
  }

  .has-light & {
    color: setup.$c-white;
    border-color: setup.$c-white;
    background-color: transparent;

    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      opacity: 1;
      color: setup.$c-white;
      border: 1px solid setup.$c-dark-grey;
      background-color: setup.$c-dark-grey;
    }
  }
}

.btn-text {
  background-color: transparent;
  border-color: transparent;
  color: setup.$c-primary;
}

.btn-invert {
  color: setup.$c-primary;
  background-color: transparent;
  border: 1px solid setup.$c-primary;

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    opacity: 0.6;
  }
}

.btn-invert-light {
  color: setup.$c-primary;
  background-color: transparent;
  border: 1px solid setup.$c-middle-grey;

  &:focus,
  &.focus,
  &:hover,
  &:active,
  &.active {
    opacity: 0.6;

    svg {
      path {
        fill: setup.$c-white;
      }
    }
  }
}

.btn-default {
  background-color: setup.$c-primary;
  border: 1px solid setup.$c-primary;
  color: setup.$c-white;
}

.btn-blue {
  background-color: setup.$c-info;
  color: setup.$c-white;
  border: 1px solid setup.$c-info;
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    color: setup.$c-white;
    text-decoration: none;
    opacity: 0.6;
  }
}

.btn-link {
  border: none;
  text-align: left;
  text-decoration: none;
  color: setup.$c-primary;
  background-color: transparent;
  padding: 0;
  border-radius: setup.$btn-radius;

  .has-light & {
    color: setup.$c-white;
    background-color: transparent;

    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:visited,
    &:active,
    &.active {
      background-color: transparent;
      color: setup.$c-white;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.btn-trans {
  color: setup.$c-white;
  background: rgb(226 226 226 / 60%);
  font-size: setup.$text-sm;
  border: 0 solid setup.$c-white;
  box-sizing: border-box;

  svg {
    stroke: setup.$c-white;
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    color: setup.$c-white;
    text-decoration: none;
  }
}

.btn-circle {
  right: 0;
  position: absolute;
  display: flex;
  width: 40px;
  max-width: initial;
  height: 40px;
  border: 1px solid setup.$c-primary;
  border-radius: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
}

.btn-social {
  height: 48px;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: setup.$c-white;
  position: relative;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 16.8%),
    0 0 1px rgb(0 0 0 / 8.4%);

  svg-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: setup.$btn-radius;
    margin-top: -3px;
    margin-right: 12px;
    top: 0;
    left: 1px;

    div {
      display: flex;
    }
  }

  &:disabled,
  &[disabled],
  &.disabled {
    background-color: setup.$c-light-grey;
    border-color: transparent;
    opacity: 1;

    svg {
      path {
        fill: setup.$c-dark-grey;
      }
    }
  }
}

.btn-google,
.has-light .btn-google {
  background-color: setup.$c-white;
  color: setup.$c-primary;
  border: 1px solid setup.$c-white;

  svg-icon {
    top: 1px;
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    border: 1px solid setup.$c-light-grey;
    opacity: 1;
  }
}

.btn-facebook {
  background-color: setup.$c-facebook;
  color: setup.$c-white;
  border: 1px solid setup.$c-facebook;

  svg-icon {
    background-color: transparent;

    path {
      fill: setup.$c-white;
    }
  }

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    opacity: 1;
    background-color: setup.$c-facebook;
    border: 1px solid setup.$c-facebook;
  }

  .has-light & {
    background-color: setup.$c-facebook;
    color: setup.$c-white;
    border: 1px solid setup.$c-facebook;
  }
}

.btn-apple,
.has-light .btn-apple {
  background-color: setup.$c-black;
  color: setup.$c-white;
  border: 1px solid setup.$c-black;

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    opacity: 1;
    background-color: setup.$c-dark-grey;
    border: 1px solid setup.$c-dark-grey;
  }
}

.btn-apple-secondary,
.has-light .btn-apple-secondary {
  background-color: setup.$c-white;
  color: setup.$c-black;
  border: 1px solid setup.$c-black;
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    opacity: 1;
    background-color: setup.$c-white;
    border: 1px solid setup.$c-dark-grey;
  }
}

.btn-naver,
.has-light .btn-naver {
  background-color: setup.$c-naver;
  color: setup.$c-white;
  padding-left: 48px;
  border: 1px solid setup.$c-naver;

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    opacity: 1;
    background-color: setup.$c-naver;
    border: 1px solid setup.$c-naver;
  }
}

.btn-wechat,
.has-light .btn-wechat {
  background-color: setup.$c-wechat;
  color: setup.$c-white;
  padding-left: 48px;
  border: 1px solid setup.$c-wechat;

  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:visited,
  &:active,
  &.active {
    opacity: 1;
    background-color: setup.$c-naver;
    border: 1px solid setup.$c-wechat;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btns {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .btn {
    margin-right: setup.$padding-global;
  }
}

.btns .btn:not(:last-child) {
  margin-right: setup.$padding-global;
}

.btn-group {
  position: relative;
  display: flex;

  & > :not(:first-child, :last-child) {
    border-radius: 0;
    margin-left: -1px;
  }

  [class^='btn--'],
  [class*=' btn--'] {
    position: relative;
    border-radius: 0;
    float: left;
    margin-right: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-left: -1px;
      outline: none;
    }
  }

  .btn {
    border-radius: 0;

    &:first-child {
      border-radius: setup.$btn-radius 0 0 setup.$btn-radius;
    }

    &:last-child {
      border-radius: 0 setup.$btn-radius setup.$btn-radius 0;
    }
  }
}
.btn-group > .btn {
  flex: 1;
}

.btn-group-inline {
  text-align: center;
  max-width: 480px;
  margin: 0 auto;

  .btn {
    display: inline-block;
    width: auto;
    min-width: 200px;
    margin: 0 8px;
  }
}

.btn-anim {
  height: 48px;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    transition:
      transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1),
      opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .btn-submit {
    transform: translateY(0);
  }

  .btn-loading {
    opacity: 0;
    transform: translateY(40px);
  }

  &:disabled,
  &[disabled],
  &.disabled {
    background-color: setup.$c-middle-grey;
    border-color: transparent;
    opacity: 1;

    svg {
      path {
        fill: rgba(setup.$c-primary, $alpha: 0.6);
      }
    }
  }
}

.is-loading {
  &.btn-anim {
    .btn-submit {
      transform: translateY(-40px);
      opacity: 0;
    }

    .btn-loading {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.no-focus {
  &:focus {
    color: setup.$c-white;
    background-color: setup.$c-primary;
    border-color: setup.$c-primary;
  }
}

.btn-loading svg {
  animation: spin 1.6s ease-in-out infinite;
}

.btn-social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    margin-right: 8px;
  }

  &.btn-facebook {
    border: setup.$c-facebook solid 1px;
    background: setup.$c-facebook;
    color: setup.$c-white;
  }

  &.btn-outline-login {
    border: setup.$c-middle-grey solid 1px;
  }

  &.disabled {
    filter: invert(1);
    background: setup.$c-white;
    color: setup.$c-primary;
    cursor: default;

    svg {
      path {
        fill: setup.$c-primary;
      }
    }
  }
}

.btn-feel {
  background-color: setup.$c-feel;
  border: 1px solid setup.$c-feel;
  color: setup.$c-primary;

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    background-color: setup.$c-feel-light;
    border: 1px solid setup.$c-feel-light;
    color: setup.$c-primary;
    opacity: 1;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    background-color: setup.$c-middle-grey;
    border: 1px solid setup.$c-middle-grey;
    color: setup.$c-dark-grey;
    opacity: 1;
  }

  .has-light & {
    background-color: setup.$c-feel;
    border: 1px solid setup.$c-feel;
    color: setup.$c-primary;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background-color: setup.$c-feel-light;
      border: 1px solid setup.$c-feel-light;
      color: setup.$c-primary;
      opacity: 1;
    }

    &[disabled],
    &:disabled,
    &.disabled {
      background-color: setup.$c-middle-grey;
      border: 1px solid setup.$c-middle-grey;
      color: setup.$c-dark-grey;
      opacity: 1;
    }
  }
}

.btn-world {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: setup.$btn-padding;
  border: none;
  background-color: rgba(setup.$c-primary, 0.4);
  color: setup.$c-white;
  //transition: all 0.4s ease-in-out;

  svg {
    path {
      fill: setup.$c-white;
    }
  }

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    background-color: rgba(setup.$c-primary, 0.8);
    border: none;
  }

  .btn-world-left {
    padding-right: 8px;
  }

  .btn-world-center {
    width: calc(100% - 40px);
    padding-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: left;
    margin-top: -1px;
  }
}

.btn-svg svg-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: setup.$btn-radius;
  position: absolute;
  top: 0;
  left: 1px;
  width: 46px;
  height: 46px;
  padding-bottom: 3px;
}

.btn.btn-secondary-rd {
  font-size: setup.$text-input-d;
  border-radius: setup.$btn-radius;
  border: 1px solid setup.$c-primary;
  padding: 9px 2px 4px;
  height: 32px;
  min-width: 100px;
  text-align: center;
  background: none;
  font-size: setup.$btn-text-r;

  @media (min-width: breakpoints.$break-sm) {
    font-size: setup.$text-input-d;
    padding: 16px 2px 14px;
    height: 48px;
    font-size: setup.$btn-text-m;
    min-width: 120px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.has-light {
  .btn-phantom {
    color: setup.$c-white;
    background-color: transparent;
    border: 1px solid setup.$c-white;
  }

  .btn-primary-feel {
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background-color: rgba(setup.$c-feel, 0.6);
      color: setup.$c-dark-grey;
      border-color: rgba(setup.$c-feel, 0.6);
    }
    &[disabled],
    &:disabled,
    &.disabled {
      opacity: 1;
      background-color: setup.$c-light-grey;
      color: setup.$c-dark-grey;
      cursor: default;
    }
  }

  .btn-google {
    svg path {
      fill: initial;
      stroke: none;
    }
  }
}

.btn--tag {
  padding: 2px 4px 2px 0;
  color: setup.$c-dark-grey;
  font-size: 12px;
  letter-spacing: 0;
  @include mixins.font-regular;
  display: inline-block;
}
