/*+------------------------------------------------------------+
 |       -BOTONES    
 +------------------------------------------------------------+*/
/*
 * Definimos los botones y sus variantes
 */
/**
 * .btn es la clase principal para definir un botón  es el tipo
 */
.btn {
    position: relative;
    display: inline-block;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    padding: 16px 8px;
    @include font-medium();
    /**
 	* Nadie quiere un botón con texto subrayado cuando hacemos hover.
 	*/
    &:hover {
        text-decoration: none;
        opacity: 0.6;
    }
    &:active,
    &:focus {
        outline: none;
    }
    &:visited {
        outline: none;
    }
    .has-light & {
        color: white;
        border-color: white;
        &:after {
            background-color: white;
        }
    }
    &:disabled,
    &.disabled {
        opacity: 0.2;
    }
}

/*+------------------------------------------------------------+
 |       -TAMAÑOS    
 +------------------------------------------------------------+*/
$btn-text-mini: 12px;
$btn-text-small: 14px;
$btn-text-medium: 14px;
$btn-text-large: 14px;
$btn-text-xlarge: 16px;
$btn-text-full: 14px;
.btn--mini {
    padding-top: $padding-global * 1 + 2px;
    padding-bottom: $padding-global * 1;
    padding-right: $padding-global * 3;
    padding-left: $padding-global * 3;
    font-size: $btn-text-mini;
}
.btn--medium {
    padding-right: $padding-global * 5;
    padding-left: $padding-global * 5;
    font-size: $btn-text-medium;
    max-width: 272px;
    width: 100%;
}
.btn--small {
    padding-right: $padding-global * 2;
    padding-left: $padding-global * 2;
    font-size: $btn-text-small;
}
.btn--large {
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    padding-right: $padding-global * 7;
    padding-left: $padding-global * 7;
    font-size: $btn-text-large;
}
.btn--xlarge {
    padding-right: $padding-global * 8;
    padding-left: $padding-global * 8;
    font-size: $btn-text-xlarge;
    position: relative;
    display: inline-block;
    min-height: 48px;
    min-width: 200px;
    max-width: 400px;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.btn--full {
    width: 100%;
    padding-right: $padding-global * 2;
    padding-left: $padding-global * 2;
    font-size: $btn-text-full;
    height: 48px;
}

.btn--input {
    width: 100%;
    padding-right: $padding-global;
    padding-left: $padding-global;
    font-size:  $btn-text-full;
    padding: 17px 16px 15px;
}
.btn--round {
	border-radius: 50px;
}

/*+------------------------------------------------------------+
 |       -TIPOS DE BOTONES    
 +------------------------------------------------------------+*/
.btn-xs {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 12px;
    margin-right: $padding-global;
    white-space: nowrap;
    cursor: pointer;
    padding: $padding-btn / 2;

    &:hover {
        text-decoration: none;
        opacity: 0.6;
    }
    &:active,
    &:focus {
        outline: none;
    }
    &:visited {
        outline: none;
    }
}
.btn-underline {
    display: inline;
    position: relative;
    text-align: center;
    outline: none;
    padding: 4px 0;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    background: transparent;
    border: none;
    color: $primary;
    &:after {
        content: "";
        background-color: $primary;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
    }
    &:hover,
    &:focus,
    &.focus {
        opacity: 0.6;
        background-color: transparent;
        color: $primary;
        text-decoration: none;
        cursor: pointer;
        &:after {
            opacity: 0;
        }
    }
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: 0;
        }
        outline: 0;
        background-image: none;
        box-shadow: none;
        opacity: 0.6;
    }
    &:disabled,
    &.disabled {
        opacity: 0.2;
    }
    .has-light & {
        color: white;
        &:after {
            background-color: white;
        }
        &:hover,
        &:focus,
        &.focus {
            background-color: transparent;
            color: white;
        }
    }
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-blue {
    background-color: #3b5998;
    color: #fff;
    border: 1px solid #3b5998;
}
/*+------------------------------------------------------------+
 |       -TIPOS DE BOTONES    
 +------------------------------------------------------------+*/
/**
 * Variantes de los botones por tamaño.
 *
 */
.btn-primary {
    color: #fff;
    background-color: $primary;
    border: 1px solid $primary;
    svg {
        g{
            fill: #ffffff;
            stroke: #ffffff;
        }
        circle{
            stroke: #ffffff;
        }
    }
}

.btn-phantom {
    color: white;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.btn-text {
    background-color: transparent;
    border-color: transparent;
    color: $primary;
}
.btn-invert {
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;



    &:focus,
    &.focus,
    &:hover,
    &:active,
    &.active {
 opacity: .6;

    svg{
        path{fill:white}
    }

    }
}

.btn-invert-light {
    color: $primary;
    background-color: transparent;
    border: 1px solid #e3e3e3;



    &:focus,
    &.focus,
    &:hover,
    &:active,
    &.active {
 opacity: .6;

    svg{
        path{fill:white}
    }

    }
}
.btn-default {
    background-color: $primary;
    border: 1px solid $primary;
    color: #fff;
    &:focus,
    &.focus,
    &:hover,
    &:active,
    &.active {
        color: #fff;
        background-color: #848686;
        border-color: #848686;
    }
}
.btn-link {
    border: none;
    text-align: left;
    text-decoration: none;
    color: $primary;
    background-color: transparent;
    padding: 0;
}

.btn-trans{
    color: #FFFFFF;
    background: rgba(226, 226, 226, 0.6);
    font-size: 14px;
    line-height: 1.2;
    border: 0 solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: calc(16px + 2px);
    padding-bottom: 14px;
    padding-right: 48px;
    padding-left: 48px;
    display: flex;
    align-items: center;
    svg{
        stroke  :#fff;
    }
    &:hover, 
    &:focus, 
    &.focus {
        color: #fff;
        text-decoration: none;
    }
}

.btn-circle {
	right: 0;
	position: absolute;
	display: flex;
	width: 40px;
	max-width: initial;
	height: 40px;
	border: 1px solid black;
	border-radius: 50px;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-color: transparent;
}

.has-light {
    .btn-primary {
        color: $primary;
        background-color: #fff;
        border: 1px solid #fff;
    }
    .btn-phantom {
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
    }
}





/*+------------------------------------------------------------+
 |       -GRUPOS DE BOTONES    
 +------------------------------------------------------------+*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */

.btns{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
.btn{
    margin-right:  $padding-global;
}

}

 .btns .btn:not(:last-child) {
    margin-right:  $padding-global;
}


.btn-group {
    position: relative;
    display: flex;
    & > :not(:first-child):not(:last-child) {
        border-radius: 0;
        margin-left: -1px;
    }
    [class^="btn--"],
    [class*=" btn--"] {
        position: relative;
        border-radius: 0;
        float: left;
        margin-right: 0;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: -1px;
            outline: none;
        }
    }
}
.btn-group-inline {
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
    .btn {
        display: inline-block;
        width: auto;
        min-width: 200px;
        margin: 0 8px;
    }
}
.btn-group-container {
    display: flex;
}

.btn-anim {
    height: 48px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    span {
      position: absolute;
      transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1),
        opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    .btn-submit {
      transform: translateY(0px);
    }
    .btn-loading {
      opacity: 0;
      transform: translateY(40px);
    }
  }
  .is-loading {
    &.btn-anim {
      .btn-submit {
        transform: translateY(-40px);
        opacity: 0;
      }
      .btn-loading {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
  .no-focus {
    &:focus {
      color: #fff;
      background-color: $primary;
      border-color: $primary;
    }
  }
  .btn-loading svg {
    -webkit-animation: spin 1.6s ease-in-out infinite;
    -moz-animation: spin 1.6s ease-in-out infinite;
    animation: spin 1.6s ease-in-out infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
