@import "../abstract/_all.scss";
.checkbox-item {
   text-align: center;
   position: relative;
    .ico-check {
        width: 22px;
        height: 22px;
        left: 0;
        top: 0;
      }
      .ico-check:after {
        position: absolute;
        content: '';
        height: 1px;
        background-color: $primary;
        width: 16px;
        transform: rotate(136deg);
        left: 4px;
        top: 8px;
      }
      .ico-check:before {
        position: absolute;
        content: '';
        width: 8px;
        height: 1px;
        top: 10px;
        transform: rotate(50deg);
        background-color: $primary;
      }
    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label {
        position: relative;
        padding-left: 40px;
        cursor: pointer;
        font-weight: normal;
        font-size: 12px;
        text-align: initial;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        left: 0;
        border: none;
        border: 1px solid #a3a0a0;
        outline: 0;
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 0 0px;
    }
    [type="checkbox"]:not(:checked)+label span,
    [type="checkbox"]:checked+label span {
        display: initial;
        vertical-align: top;
        margin: 5px 0 0;
        line-height: 16px;
        min-height: 20px;
        padding-left: 0;
        &::after{
          content: " ";
       }
    }
    [type="checkbox"]:not(:checked)+label a,
    [type="checkbox"]:checked+label a {
        text-decoration: underline;
        margin-right: 4px;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    input[type="checkbox"] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 4px 0 0;
        margin-top: 1px \9;
        line-height: normal;
    }
    [type="checkbox"]:not(:checked)+label .icon,
    [type="checkbox"]:checked+label .icon {
        position: absolute;
        top: 5px;
        left: 5px;
        color:$primary;
        transition: all .2s;
    }
    [type="checkbox"]:not(:checked)+label .icon {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked+label .icon {
        opacity: 1;
        transform: scale(1);
    }
    &.color-filter{
      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label{
          padding-left: 32px;
      }
      .color-wrap{
          button{
              margin-right: 0px;
          }
      }
      [type="checkbox"]:not(:checked) + label span,
      [type="checkbox"]:checked + label span{
          padding-left: 24px;
      }
  }
}
.checkbox-item-2 {
    display: inline-block;
    text-align: center;
    margin: 10px 10px 0 0;
    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label {
        position: relative;
        padding-left: 0;
        cursor: pointer;
        font-weight: normal;
        font-size: 12px;
        text-align: initial;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
        position: absolute;
        content: '';
        width: 62px;
        height: 26px;
        border-radius: 30px;
        left: 0;
        border: none;
        border: 1px solid $primary;
        outline: 0;
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 0 0px;
    }
    [type="checkbox"]:not(:checked)+label span,
    [type="checkbox"]:checked+label span {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0 0;
        line-height: 16px;
        padding-left: 70px;
        min-height: 20px;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    input[type="checkbox"] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 4px 0 0;
        margin-top: 1px \9;
        line-height: normal;
    }
    .checkbox-circle {
        background: $primary;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    [type="checkbox"]:not(:checked)+label .checkbox-circle,
    [type="checkbox"]:checked+label .checkbox-circle {
        position: absolute;
        top: 3px;
        left: 6px;
        color: $primary;
        transition: all .2s;
    }
    [type="checkbox"]:not(:checked)+label .checkbox-circle {
        opacity: 1;
        transform: scale(1);
        left: 4px;
    }
    [type="checkbox"]:checked+label .checkbox-circle {
        opacity: 1;
        transform: scale(1);
        left: 38px;
    }
}
.checkbox-radio {
  position: relative;
    [type="radio"]:not(:checked)+label,
    [type="radio"]:checked+label {
      position: relative;
      padding-left: 0;
      cursor: pointer;
      font-weight: normal;
      font-size: 12px;
      text-align: initial;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      float:none;
    }
    [type="radio"]:not(:checked)+label:before,
    [type="radio"]:checked+label:before {
      position: absolute;
      box-sizing: border-box;
      content: '';
      width: 24px;
      height: 24px;
      left: 0;
      border: none;
      border: 1px solid $c-dark-grey;
      outline: 0;
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0px;
      border-radius: 50%;
    }
    [type="radio"]:not(:checked)+label span,
    [type="radio"]:checked+label span {
      display: inline-block;
      vertical-align: top;
      margin: 5px 0 0;
      line-height: 16px;
      padding-left: 32px;
      min-height: 20px;
    }
    [type="radio"]:not(:checked),
    [type="radio"]:checked {
      position: absolute;
      left: -9999px;
    }
    input[type="radio"] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      margin: 4px 0 0;
      margin-top: 1px \9;
      line-height: normal;
    }
    [type="radio"]:not(:checked)+label .ico-radio,
    [type="radio"]:checked+label .ico-radio {
      position: absolute;
      top: 7px;
      left: 7px;
      width: 10px;
      height: 10px;
      background-color: $primary;
      border-radius: 50%;
      transition: all .2s;
    }
    [type="radio"]:not(:checked)+label .ico-radio {
      opacity: 0;
      transform: scale(0);
    }
    [type="radio"]:checked+label .ico-radio {
      opacity: 1;
      transform: scale(1);
    }
    label{
      padding-bottom: 0;
    }
  }

.checkbox-item{
  position: relative;
	&.is-error{
		color:$c-error;
    [type=checkbox]:checked+label:before, 
    [type=checkbox]:not(:checked)+label:before {
		border: 1px solid $c-error;
	}
	}
}
.checkbox-item-text{
  min-height: 42px;
	span{
		position: absolute;
		margin-left: 40px;
		min-height: 48px;
	}
}
.checkbox-item-box{
 	position: relative;
    width: 25px;
    height: 25px;
}



input[type='radio']:focus + label::before {
  //sombra accesibilidad box-shadow: 0 0px 4px #6d6b6b;
}
.check-no{
  &.checkbox-radio [type=radio]:checked+label:before,
  &.checkbox-radio [type=radio]:not(:checked)+label:before {
 display: none;
 }
 &.checkbox-radio [type=radio]:checked+label .ico-radio {
   display: none;
}
&.checkbox-radio [type=radio]:checked+label .border-1  {
border: 1px solid $primary;
}
}
.check-center{
  &.checkbox-radio [type=radio]:checked+label:before,
  &.checkbox-radio [type=radio]:not(:checked)+label:before {
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
 }
 &.checkbox-radio [type=radio]:checked+label .ico-radio,
 &.checkbox-radio [type=radio]:not(:checked)+label .ico-radio{
  top: 50%;
  left: 23px;
  margin-top: -5px;
}
  .box3-content{
    padding-left:calc(24px + 16px) ;
  }
  &.checkbox-radio [type=radio]:checked+label .border-1  {
    border: 1px solid $primary;
    }
}
.check-bleed{
  &.checkbox-radio [type=radio]:checked + label:before,
  &.checkbox-radio [type=radio]:not(:checked) + label:before {
       left: 0px;
   }
   &.checkbox-radio [type=radio]:checked + label .ico-radio, 
   &.checkbox-radio [type=radio]:not(:checked) + label .ico-radio {
       left: 7px;
   }
}
.check-top{
  &.checkbox-radio [type=radio]:checked+label:before,
  &.checkbox-radio [type=radio]:not(:checked)+label:before {
position: absolute;
top: 16px;
left: 16px;
 }
 &.checkbox-radio [type=radio]:checked+label .ico-radio,
 &.checkbox-radio [type=radio]:not(:checked)+label .ico-radio
 {
  top: 23px;
  left: 23px;
}
  .box3-content{
    padding-left:calc(24px + 16px) ;
  }
  &.checkbox-radio [type=radio]:checked+label .border-1  {
    border: 1px solid $primary;
    }
}
.check-clear{
  &.checkbox-radio [type=radio]:checked+label:before,
  &.checkbox-radio [type=radio]:not(:checked)+label:before {
position: absolute;
top: 16px;
left: 0;
 }
 &.checkbox-radio [type=radio]:checked+label .ico-radio,
 &.checkbox-radio [type=radio]:not(:checked)+label .ico-radio
 {
  top: 23px;
  left: 7px;
}
  .box3-content{
    padding-left:calc(24px + 16px) ;
  }
  &.checkbox-radio [type=radio]:checked+label .border-1  {
    border: 1px solid $primary;
    }
}
.is-active{
  &.checkbox-radio .border-1  {
    border: 1px solid $primary;
    }
    &.checkbox-radio [type=radio]+label .ico-radio {
      opacity: 1;
      transform: scale(1);
  }
}

//   -Elementos envueltos en el estado error en formularios
 

 .is-error {
  .checkbox-item {
    a {
      color: $c-error;
    }

    svg {
      g {
        fill: $c-error;
        polyline{
          stroke: $c-error;
        }
      }
    }

  }
}


//   -Soporte para lenguajes árabes  
 
.is-rtl{
  .checkbox-item{
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        left: 0;
        right: -9999px;
    }
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before{
        left: auto;
        right: 0px;
        margin: 0 0 0 10px;
    }         
    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label{
      padding-left: 0px;
      padding-right: 40px;
    }
    [type="checkbox"]:not(:checked)+label span,
    [type="checkbox"]:checked+label span{
        &.theta{
        padding-left: 0px;
        padding-right: 40px;
        }
    }
    [type="checkbox"]:not(:checked)+label .icon,
    [type="checkbox"]:checked+label .icon{
      right: 5px;
      left: auto;
      top: 4px;
    }
    .ma-wrapper-terms-inner {
        span,
        span.legal-text {
            padding-right: 0px;
            padding-left: 0px;
        }
    }  
  }

  .checkbox-item [type=checkbox]:not(:checked),
  .checkbox-item [type=checkbox]:checked {
    position: absolute;
  }

  .checkbox-radio [type=radio]:not(:checked),
  .checkbox-radio [type=radio]:checked {
    position: absolute;
  }

  .check-bleed{
    &.checkbox-radio [type=radio]:checked + label .ico-radio, 
    &.checkbox-radio [type=radio]:not(:checked) + label .ico-radio {
        left: 0px;
        right: 17px;
    }
    &.checkbox-radio [type=radio]:checked + label:before,
    &.checkbox-radio [type=radio]:not(:checked) + label:before {
        left: auto;
        right: 0;
     }
  }
  .check-center{
    &.checkbox-radio [type=radio]:checked+label:before,
    &.checkbox-radio [type=radio]:not(:checked)+label:before {
        left: auto;
        right: 16px;
        margin: 0px;
    }
    &.checkbox-radio [type=radio]:checked+label .ico-radio,
    &.checkbox-radio [type=radio]:not(:checked)+label .ico-radio{
        left: 0px;
        right: 23px;
    }
    .box3-content{
        padding-left: 0px;
        padding-right: calc(48px);
    }
  }
  .checkbox-radio{
    [type="radio"]:not(:checked),
    [type="radio"]:checked{
        left: 0;
        right: -9999px;
    }
  }

  .checkbox-item-text{
    span{
      margin-left: 0px;
      margin-right: 40px;
    }
  }

  [type="radio"]:not(:checked),
  [type="radio"]:checked,
  .checkbox-card [type=radio]{
    left: 9999px;
  }
  
  .checkbox-item-2 [type=checkbox]:not(:checked),
  .checkbox-item-2 [type=checkbox]:checked{
    left: 9999px;
  }
}

.has-light{
  .checkbox-item {
       .ico-check:after {
         background-color: transparent;
       }
       .ico-check:before {
         background-color: $c-white;
       }
     [type="checkbox"]:not(:checked)+label:before,
     [type="checkbox"]:checked+label:before {
         border: 1px solid $c-white;
     }
     [type="checkbox"]:not(:checked)+label .icon,
     [type="checkbox"]:checked+label .icon {
         color:$c-white;
     }

     svg {
      g {
        fill: $c-white;
        polyline{
          stroke: $c-white;
        }
      }
    }


 }
}