.form-input-label{
	&.datalist{
		input{
			&::-webkit-calendar-picker-indicator {
				display: none;
				opacity: 0;
			}
			&:focus + svg{
				transform: rotate(-180deg);
				transition: .6s;
			}
		}
		svg{
			position: absolute;
			top: 16px;
			right: 16px;
			transform: rotate(0deg);
			transition: .6s;
		}
		.validation-error-messages{
			svg{
				position: relative;
				top: auto;
				right: auto;
			}
		}
	}
}

.is-rtl{
	.form-input-label{
		&.datalist{
			svg{
				right: auto;
				left: 16px;
			}
			.validation-error-messages{
				svg{
					left: auto;
				}
			}
		}
	}
}