$input-padding-x: 14px;
$input-padding-y: 14px;
/*+------------------------------------------------------------+
 |       -INPUTS    
 +------------------------------------------------------------+*/
input:focus {
    outline: none;
    border: 1px solid black;
}
.form {
    width: 100%;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 1;
}
select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 0;
    color: #363636;
}
label {
    font-size: 14px;
}
.input,
.select select {
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    position: relative;
    vertical-align: top;
    font-size: 12px;
    border-radius: 0;
    height: 48px;
    box-sizing: border-box;
}
.input,
.textarea,
.select select {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    max-width: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    @media (min-width: $break-sm) {
        font-size: 14px;
    }
}
.input-line {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: transparent;
    padding-left: 0;
    border-bottom: 1px solid $primary;
}
.input-notouch {
    @include font-medium();
    pointer-events: none;
    border-color: #eaeaea;
    padding: 24px 0;
    height: auto;
}
.textarea {
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}
.inputmini {
    border-color: #ccc;
    color: #363636;
    max-width: 100%;
    width: 58px;
    font-size: 14px;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: none;
    display: inline-flex;
    height: 34px;
    font-size: 18px;
    margin-left: 10px;
    text-align: center;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}
.input-btn {
    .input {
        display: inline-block;
        width: calc(60% - 100px);
    }
    .btn {
        display: inline-block;
        height: 48px;
        margin-left: -3px;
        width: 100px;
    }
}
.input-gray{
    padding-left: 40px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border:none;

}
.checkbox-text {
    float: left;
    label {
        display: inline-block;
    }
    input {
        display: inline-block;
        margin-right: 10px;
    }
}
.help {
    position: absolute;
    font-size: 12px;
    margin-top: 4px;
}
.info-text {
    color: #757575;
    margin-top: 4px;
    width: 100%;
    float: left;
}
.form-text {
    right: 16px;
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    height: 100%;
    min-width: 50px;
    height: 48px;
    box-sizing: border-box;
    display: table;
    span {
        vertical-align: middle;
        display: table-cell;
        padding-right: 16px;
        padding: 12px;
    }
}
.form-text-svg {
    svg {
        display: inline-block;
        padding: 16px;
        box-sizing: initial;
    }
}
.ico-pre {
    right: auto;
    left: 0;
    position: absolute;
    top: 1px;
    box-sizing: border-box;
    display: table;
    margin: 15px;
}
.ico-post {
    right: 0;
    left: auto;
    position: absolute;
    top: 1px;
    box-sizing: border-box;
    display: table;
    margin: 15px;
    opacity: 0.3;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}
.is-error {
    .input,
    label,
    .help {
        color: $error !important;
    }
    .input {
        border: 1px solid $error;
    }
    svg {
        g {
            stroke: $error !important;
        }
    }
}
.ok-input {
    label {
        color: green;
    }
    .input {
        border: 1px solid green;
        color: green;
    }
    .input-line {
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid green;
        color: green;
    }
}
.disabled-input {
    opacity: 0.4;
}
.guide-font {
    position: relative;
    height: 30px;
    width: 100%;
    border: solid #eaeaea;
    border-width: 1px 1px 0px 1px;
    padding: 10px;
    span {
        top: 15px;
        color: $primary-guide;
        font-size: 14px;
        position: absolute;
        line-height: 1;
        width: 150px;
        text-align: center;
        @include font-regular();
    }
    .guide-title {
        padding-left: 200px;
    }
    &:last-child {
        border-bottom: 1px solid #eaeaea;
    }
}
input::-webkit-input-placeholder {
    color: #aaa;
    transform: translate3d(0, 0, 0);
}
.form-input-label {
    font-family: $font-family-form;
    position: relative;
    margin-bottom: 24px;
    & > input,
    & > label {
        font-family: $font-family-form;
        padding: 16px;
        font-weight: normal;
    }
    & > label {
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        left: 0;
        display: block;
        width: 100%;
        font-weight: normal;
        margin-top: 1px;
        margin-bottom: 0;
        line-height: 1.1;
        color: #757575;
        border-radius: 0.25rem;
        transition: all 0.1s ease-in-out;
        pointer-events: none;
    }
    & input::-webkit-input-placeholder {
        color: transparent;
    }
    & input:-ms-input-placeholder {
        color: transparent;
    }
    & input::-moz-placeholder {
        color: transparent;
    }
    & input::placeholder {
        color: transparent;
    }
    & input:not(:placeholder-shown) {
        padding-top: calc(#{$input-padding-y} + #{$input-padding-y} * (2 / 3));
        padding-bottom: calc(#{$input-padding-y} / 3 + 3px);
    }
    & input:not(:placeholder-shown) ~ label {
        padding-top: calc(#{$input-padding-y} / 3 + 1px);
        padding-bottom: calc(#{$input-padding-y} / 3);
        font-size: 12px;
        color: #777;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 1px solid #eaeaea;
      -webkit-text-fill-color: black;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
    }

}
/*+------------------------------------------------------------+
   |       -FALLBACK PARA EDGE    
   +------------------------------------------------------------+*/
@supports (-ms-ime-align: auto) {
    .form-input-label > label {
        display: none;
    }
    .form-input-label input:-ms-input-placeholder {
        color: #777;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-input-label > label {
        display: none;
    }
    .form-input-label input:-ms-input-placeholder {
        color: #777 !important;
    }
}
/*+------------------------------------------------------------+
 |       -SELECT  
 +------------------------------------------------------------+*/
.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
    -webkit-appearance: none;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
    vertical-align: top;
    select {
        cursor: pointer;
        display: block;
        max-width: 100%;
        outline: 0;
    }
    label {
        position: absolute;
        top: 19px;
        left: 16px;
        z-index: 1;
    }
    &::after {
        border: 1px solid $primary;
        border-radius: 0px;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 8px;
        margin-top: -6px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: rotate(-45deg);
        transform-origin: center;
        width: 8px;
    }
    &:not(.is-multiple) {
        height: 56px;
    }
    &:not(.is-multiple):not(.is-loading)::after {
        border-color: $primary;
    }
    select::-ms-expand {
        display: none;
    }
    select[disabled]:hover,
    fieldset[disabled] select:hover {
        border-color: #f5f5f5;
    }
    select:not([multiple]) {
        padding-right: 45px;
    }
    select[multiple] {
        height: auto;
        padding: 0;
    }
    select[multiple] option {
        padding: 0 40px;
    }
    &:not(.is-multiple):not(.is-loading):hover::after {
        border-color: #363636;
    }
    &.select-label {
        select {
            padding-left: 100px;
        }
    }
    &.select-box{
		height: auto;
		select{
			background-color: #eaeaea;
			min-width: 24px;
			width: 100%;
			height: 24px;
			padding: 0px 16px 0px 8px;
			font-size: 14px;
			border-radius: 2px;
			border: none;
			text-align: center;
		}
        &::after{
			display: block;
			right: 6px;
			width: 5px;
			height: 5px;
			margin-top: -3px;
		}
	}
    &.select-flat {
        width: 100%;
        label {
            z-index: 0;
            left: 0;
        }

        select {
            border: none;
            padding-left: 0px;
            background: none;
            padding-right: 40px;
        }
    }
}
.hg-form {
    .row {
        padding-right: 0;
        [class*="col-"] {
            padding-right: 0;
            &:first-child {
                padding-right: 0;
            }
            &:last-child {
                padding-right: $padding-global;
            }
        }
    }
}
$checkbox-svg-pd: 20px;
$checkbox-svg-brad: 20px;
.checkbox-svg {
    svg {
        margin: 0 auto;
        width: 50px;
    }
}
//display flex
.checkbox-svg-label {
    background: #ffffff;
    border: 1px solid #4bcac5;
    border-radius: $checkbox-svg-brad;
    filter: grayscale(100%);
    display: flex;
    width: 100%;
    padding: $checkbox-svg-pd;
    box-sizing: border-box;
    transition: all 0.2s ease;
    opacity: 0.5;
    min-height: 200px;
}
.checkbox-svg [type="radio"] {
    position: absolute;
    left: -9999px;
}
.checkbox-svg-ico {
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    top: $checkbox-svg-pd;
    right: $checkbox-svg-pd;
    left: auto;
    border: 1px solid #4bcac5;
    background-color: #4bcac5;
    outline: 0;
    vertical-align: top;
    margin: 0;
    border-radius: 50%;
    opacity: 1;
}
.ico-radio {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.checkbox-svg [type="radio"]:checked,
.checkbox-svg :hover {
    & + .checkbox-svg-label {
        opacity: 1;
        cursor: pointer;
        filter: grayscale(0);
        box-shadow: 6px 6px 17px 0 rgba(74, 111, 110, 0.27);
    }
    & + label .ico-radio {
        opacity: 1;
        transform: scale(1);
    }
    label .checkbox-svg-ico {
        opacity: 1;
    }
    & + label .ico-radio {
        opacity: 1;
        transform: scale(1);
    }
}
.checkbox-svg [type="radio"]:not(:checked) + label .ico-radio {
    opacity: 0;
    transform: scale(0);
}

$padding-btn: 14px;
$svg-size: 16px;
.form-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: $padding-btn;
    svg {
        width: $svg-size;
        height: $svg-size;
    }
}

.btn.btn-link.has-ico-pre {
    padding-left: 18px;
    .ico-pre {
        margin: 0;
        top: -1px;
    }
}
.has-ico-pre {
    &.btn,
    & > input,
    & > label {
        padding-left: $padding-btn * 2 + $svg-size + 4px;
    }
    .form-icon {
        top: 0;
        left: 0;
    }
}
.has-ico-post {
    &.btn,
    & > input,
    & > label {
        padding-right: $padding-btn * 2 + $svg-size;
    }
    .form-icon {
        padding: $padding-btn;
        top: 0;
        right: 0;
        left: auto;
    }
}
.input-subtext {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    line-height: 1.2;
}
.form-input-label.input-line .input {
    border: none;
}
.input-line > input,
.input-line > label {
    padding: 12px 0 8px 0;
}
.input-line > input {
    height: 40px;
}
.form-input-prefix {
    display: flex;
    .input-prefix {
        width: 52px;
        display: inline-block;
        margin-right: 8px;
    }
    .input-prefix .input {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .form-input-label {
        display: inline-block;
        width: calc(100% - 60px);
    }
}


.select-line {
	width: 100%;
	.input,
	select,
	.textarea {
		background-color: #fff;
		border-color: $primary;
		color: #363636;
		max-width: 100%;
		width: 100%;
		font-size: 14px;
		line-height: 1;
		border-top: none;
		border-right: none;
		border-left: none;
		padding-left: 0;
		padding-right: 0;
	}
	&.select:after {
		width: 10px;
		height: 10px;
		right: 4px;
	}
}


.input-line-v2 {
	position: relative;
	display: flex;
	padding-right: 64px;
	.input,
	.input:focus {
		@include font-bold();
		padding-left: 0;
		padding-bottom: 4px;
		padding-right: 0;
		padding-top: 12px;
		height: auto;
		border: none;
		border-bottom: 1px solid black;
	}
	.input::-webkit-input-placeholder {
		@include font-regular();
		text-overflow: inherit;
		line-height: initial;
		white-space: pre;
		overflow-wrap: normal;
		-webkit-user-modify: read-only !important;
		overflow: hidden;
	}
}

/*+------------------------------------------------------------+
 |       -Soporte para lenguajes árabes  
 +------------------------------------------------------------+*/

 .is-rtl{
	.select{
		&.select-box{
			select{
				padding: 0px 8px 0px 16px;
			}
			&::after{
				left: 6px;
				right: auto;
			}
		}
        &.select-flat {
            label {
                left: auto;
            }
            select {
                padding-right: 0;
            }

            &::after {
                left: 20px;
                right: auto;
            }
        }
	}

    .form-input-label {
        &.icon-right {
            .form-text {
                right: auto;
                left: 0;
            }
        }
        &.has-ico-post {
            svg-icon {
                position: absolute;
                right: 0px;
            }
        }
    }
}