@import "../abstract/_all.scss";
$list-disc:4px;
$list-disc-color:#292929;


//   -LISTA CON BULLET    
 
ul.list-disc {
  list-style: none;
  margin: $padding-global*2 0;
  padding: 0;
  li {
    position: relative;
    padding: $padding-global $padding-global*2;
    &:after {
      background-color: $list-disc-color;
      content: '';
      border-radius: 50%;
      width: $list-disc;
      height: $list-disc;
      position: absolute;
      left: 0;
      margin-top: -$list-disc / 4; 
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      text-decoration: none;
      padding: 14px 0;
    }
    a::after {
      bottom: 7px;
    }
  }
}

.is-rtl{
  ul.list-disc {
    li {
      &:after {
        right: 0px;
      }
    }
  }
}



//   -LISTA HORIZONTAL LIMPIA todo repetido 
 

ul.list-inline {
  margin: 0px;
  padding: 0px;
  li {
    display: inline-flex;
    padding: 0 $padding-global / 2;
    margin: 0;

    &:after {
      display: none
    }
  }
}


ul.list-inline-flex {
  margin: 0px;
  padding: 0px;
  li {
    display: inline-flex;
    padding: 0 $padding-global / 2;
    margin: 0;

    &:after {
      display: none
    }
  }
}



//   -LISTA HORIZONTAL LIMPIA    
 

 ul.list-inline-clear {
  margin: 0px;
  padding: 0px;
  li {
    display: inline-block;
    margin: 0;

    &:after {
      display: none
    }
  }
}




//   -LISTA VERTICAL LIMPIA    
 
 
 
ul.list-clear {
  li {
    list-style: none;
    margin: $padding-global 0px;
    &:after {
      display: none
    }
  }
}



//   -LISTA DE SELECTOR DE TALLAS    
 
ul.h-size-selector {
  a {
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    &:hover {
      cursor: pointer;
      &:after {
        border: 1px solid rgb(51, 48, 48);
      }
    }
    &:after {
      content: '';
      position: absolute;
      border: 1px solid transparent;
      width: 10px;
      height: 10px;
      left: 3px;
      top: 3px;
      padding: 8px;
      border-radius: 50%;
      transition: .5s ease all;
    }
  }
}


//   -LISTA DE PASSWORD CHECK    
 

 ul.list-mini {
  margin: 8px 0;
  >li {
      position: relative;
      padding: 4px 8px;
      line-height: 1;
      float: left;
      clear: both;
      list-style: none;
      &.is-missing {
          &:after {
              content: "";
              width: 100%;
              height: 1px;
              background-color: $primary;
              border-radius: 0;
              margin-top: -1px;
              transform: none;
          }
      }
      &:after {
        content: "";
        width: 2px;
        height: 2px;
        background-color: $primary;
        position: absolute;
        left: 0;
        bottom: 10px;
      }
  }
}

.list-table{
  display: table;
  width: 100%;

}
.list-box{
  display: table-cell;
  box-sizing: border-box;
  border: 1px solid $c-dark-grey;
  transition: all .2s ease;
  opacity: .5;
  left: -1px;

  &.is-active,&:hover{
    border: 1px solid $primary;
    opacity: 1;
    cursor: pointer;
  }
  
}
.list-box:first-child{
left: 0px;
}


.multiple-table{
  display: table;
  width: calc(100% + 2px);

  .list-box:last-child{
    left: -2px;
    }
    
}



// todo HG
.list-button {
  padding: 16px;
  background: $c-white;
  border-bottom: 1px solid $c-middle-grey;
  cursor: pointer;
  opacity: 1;

  span{
    font-size: 12px;
  }

  &:hover {
    opacity: .6;
  }

  &.list-secundary {
    background-color: $c-middle-grey;
    padding-left: 42px;
  }
  &.list-tertiary {
    background-color: $c-light-grey;
    padding-left: 64px;
  }

  &.list-icons{
    display: flex;
    align-items: center;
    gap: 8px;

    span{
      flex-grow: 1;
    }
  }
}

.list-selection{
  a{
    padding: 8px;
    background: $c-white;
  }

  a:hover,.is-active{
    padding: 8px;
    background: $c-light-grey;
  }

}


.is-rtl{
  .list-button {
    &.list-secundary {
      padding-left: 16px;
      padding-right: 42px;
    }
    &.list-tertiary {
      padding-left: 16px;
      padding-right: 64px;
    }
  }
}