$list-disc:4px;
$list-disc-color:#000;

/*+------------------------------------------------------------+
 |       -LISTA CON BULLET    
 +------------------------------------------------------------+*/
ul.list-disc {
  list-style: none;
  margin: $padding-global*2 0;
  padding: 0;
  li {
    position: relative;
    padding: $padding-global $padding-global*2;
    &:after {
      background-color: $list-disc-color;
      content: '';
      border-radius: 50%;
      width: $list-disc;
      height: $list-disc;
      position: absolute;
      left: 0;
      margin-top: -$list-disc / 4; 
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      text-decoration: none;
      padding: 14px 0;
    }
    a::after {
      bottom: 7px;
    }
  }
}


/*+------------------------------------------------------------+
 |       -LISTA HORIZONTAL LIMPIA    
 +------------------------------------------------------------+*/

ul.list-inline {
  margin: 0px;
  padding: 0px;
  li {
    display: inline-block;
    padding: 0 $padding-global;
    margin: 0;

    &:after {
      display: none
    }
  }
}


/*+------------------------------------------------------------+
 |       -LISTA VERTICAL LIMPIA    
 +------------------------------------------------------------+*/
 
 
ul.list-clear {
  li {
    list-style: none;
    margin: $padding-global 0px;
    &:after {
      display: none
    }
  }
}


/*+------------------------------------------------------------+
 |       -LISTA DE SELECTOR DE TALLAS    
 +------------------------------------------------------------+*/
ul.h-size-selector {
  a {
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    &:hover {
      cursor: pointer;
      &:after {
        border: 1px solid rgb(51, 48, 48);
      }
    }
    &:after {
      content: '';
      position: absolute;
      border: 1px solid transparent;
      width: 10px;
      height: 10px;
      left: 3px;
      top: 3px;
      padding: 8px;
      border-radius: 50%;
      transition: .5s ease all;
    }
  }
}
