@import '../abstract/_all';

.progressbar {
  width: 100%;
  height: 8px;
  border-radius: $obj-radius;
  background-color: $c-middle-grey;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;

  .progressbar-status {
    min-width: 8px;
    height: 8px;
    border-radius: $obj-radius;
    background-color: $c-primary;
    transition: all 0.2s ease;
  }
}
