/*+------------------------------------------------------------+
 |       -TABS  
 +------------------------------------------------------------+*/
/*
 * Definimos los botones y sus variantes
 <div class="tabs">
  <ul>
    <li class="is-active"><a>Pictures</a></li>
    <li><a>Music</a></li>
    <li><a>Videos</a></li>
    <li><a>Documents</a></li>
  </ul>
</div>
 */
.tabs {
    .list-equal {
        display: flex;
        li {
            flex-grow: 1;
        }
    }
    ul {
        align-items: center;
        border-bottom-color: #dbdbdb;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: flex-start;
        margin: 0;
        font-size: 14px;
        @include font-bold();
    }
    li {
        display: block;
        margin: 0;
        &.is-active a {
            border-bottom-color: $primary;
            border-bottom-width: 2px;
            padding-bottom: $padding-global * 2 - 0;
            color: $primary;
        }
        &.is-active span {
            border-bottom-color: $primary;
            border-bottom-width: 2px;
            padding-bottom: $padding-global * 2 - 0;
            color: $primary;
        }
        &:after {
            display: none;
        }
    }
    a {
        align-items: center;
        border-bottom-color: #dbdbdb;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        color: $primary;
        display: flex;
        justify-content: center;
        margin-bottom: -1px;
        padding: $padding-global * 2;
        vertical-align: top;
        padding-bottom: $padding-global * 2 + 1;
        &:hover {
            border-bottom-color: $primary;
            border-bottom-width: 2px;
            padding-bottom: $padding-global * 2 - 0;
            color: $primary;
            cursor: pointer;
        }
    }
    span {
        align-items: center;
        border-bottom-color: #dbdbdb;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        color: $primary;
        display: flex;
        justify-content: center;
        margin-bottom: -1px;
        padding: $padding-global * 2;
        vertical-align: top;
        padding-bottom: $padding-global * 2 + 1;
        &:hover {
            border-bottom-color: $primary;
            border-bottom-width: 2px;
            padding-bottom: $padding-global * 2 - 0;
            color: $primary;
            cursor: pointer;
        }
    }
    &.is-center ul {
        justify-content: center;
    }
}
.tabs-list {
    margin-left: -8px;
    li {
        margin: 0;
        padding-left: 8px;
        padding-right: 8px;
        span {
            position: relative;
            &:hover {
                cursor: pointer;
                &:after {
                    content: "";
                    width: 100%;
                    background: black;
                    height: 2px;
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                }
            }
        }
        &.is-active span {
            &:after {
                content: "";
                width: 100%;
                background: black;
                height: 2px;
                position: absolute;
                bottom: -4px;
                left: 0;
            }
        }
    }
}
.tabs-gray {
    width: 100%;
    border: none;
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    ul {
        border: none;
    }
    li {
        display: block;
        margin: 0;
        width: 100%;
    }
    a,
    span {
        @include font-medium;
        color: #757575;
        border-color: #f5f5f5;
        position: relative;
        &:hover {
            color: $primary;
            cursor: pointer;
        }
    }
}
.tabs-clear li {
    display: block;
    margin: 0;
    width: 100%;
}
.tabs-mini {
    display: inline-block;
    ul {
        border: none;
        background-color: #ffffff;
        padding: 0 14px;
        display: inline-flex;
        font-family: $font-family-regular;
    }
    li {
        position: relative;
    }
    li a {
        opacity: 0.5;
        border: none;
        padding: 6px 8px 8px;
        color: $primary;
    }
    li:first-child a:after {
        content: "";
        position: absolute;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: #ccc;
    }
    li a:hover {
        border: none;
        cursor: pointer;
        padding: 6px 8px 8px;
        opacity: 1;
    }
    li.is-active a {
        padding: 6px 8px 8px;
        opacity: 1;
        font-family: $font-family-bold;
    }
    &.tabs-map {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
        ul {
            border: 1px solid #eaeaea;
        }
    }
}

/*+------------------------------------------------------------+
 |       -Soporte para lenguajes árabes  
 +------------------------------------------------------------+*/

.is-rtl{
    .tabs-mini {
        float: left;
        li:first-child a:after{
            left: 0;
            right: auto;

        }
    }
}