@use '../abstract/_all';
@use '../abstract/setup';

.tag-warning {
  background-color: setup.$c-warning;
  color: setup.$c-white;
  padding: 6px;
  line-height: 1;
  display: inline-block;
}

.tag-info {
  background-color: setup.$c-info;
  color: setup.$c-white;
  padding: 6px;
  line-height: 1;
  display: inline-block;
}

.tag-valid {
  background-color: setup.$c-valid;
  color: setup.$c-white;
  padding: 6px;
  line-height: 1;
  display: inline-block;
}

.tag-alert {
  background-color: setup.$c-alert;
  color: setup.$c-primary;
  padding: 6px;
  line-height: 1;
  display: inline-block;
}

.tag-feel {
  background-color: setup.$c-feel;
  color: setup.$c-primary;
  padding: 6px;
  line-height: 1;
  display: inline-block;
}

.tag-limited {
  background-color: setup.$c-primary;
  color: setup.$c-white;
  padding: 6px;
  line-height: 1;
  display: inline-block;
}

.tag-new {
  color: setup.$c-primary;
  font-style: normal;
  line-height: 10px;
  top: 10px;
  right: -30px;
  position: absolute;
}
