@use 'sass:math';
@import '../abstract/_all';

$tooltip-arrow: 10px;
$tooltip-border-color: #e3e3e3;
$tooltip-dist: 10px;
$tooltip-padding: 8px;

.has-tooltip {
  position: relative;
}

.tooltip-sm {
  top: 50%;
  transform: translateY(16px);
  right: 7px;
  background-color: $c-white;
  border: 1px solid $tooltip-border-color;
  position: absolute;
  width: 100%;
  max-width: 240px;
  z-index: 10;
  padding: $tooltip-padding $tooltip-padding*2;
  padding-right: $tooltip-padding + 16px;
  color: $c-primary;

  .close {
    position: absolute;
    right: $tooltip-padding;
    top: $tooltip-padding;
  }

  &::after {
    content: '';
    top: math.div(-$tooltip-arrow, 2) - 1;
    right: $tooltip-dist;
    position: absolute;
    border-top: 1px solid $tooltip-border-color;
    border-left: 1px solid $tooltip-border-color;
    width: $tooltip-arrow;
    height: $tooltip-arrow;
    background: $c-white;
    transform: rotate(45deg);
  }
}

.store-state {
  width: max-content;
  position: relative;
  padding-left: 16px;

  div {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    top: 2px;
    left: 0;
    width: 8px;
    height: 8px;
  }
}
