@import "../abstract/_all.scss";  // este está duplicado en el proyecto de dutti. 

$tooltipArrow: 10px;
$tooltipColor: #e3e3e3;
$tooltipdist: 18px;

.tooltip-sm {
  right: 8px;
  background-color:$c-white;
  border: 1px solid $tooltipColor;
  position: absolute;
  width: 100%;
  max-width: 327px;
  z-index:10;
  
  &::after {
    top: -$tooltipArrow/2 - 1;
    right: $tooltipdist;
    content: "";
    position: absolute;
    border-top: 1px solid $tooltipColor;
    border-left: 1px solid $tooltipColor;
    width: $tooltipArrow;
    height: $tooltipArrow;
    background: $c-white;
    transform: rotate(45deg);
  }
}
