
/*+------------------------------------------------------------+
 |       -BREAKPOINTS
 +------------------------------------------------------------+*/


 $breakpoints: (
    xs: 1px,
    sm: 786px,
    md: 992px,
    lg: 1280px);

$colBreakpoints: length($breakpoints) ;

$break-xs:nth(map-values($breakpoints), 1) !default;
$break-sm:nth(map-values($breakpoints), 2) !default;
$break-md:nth(map-values($breakpoints), 3) !default;
$break-lg:nth(map-values($breakpoints), 4) !default;

$min-width:319px !default;
$break-xl:1500px !default;
