$font-weight-light: 100 !default;
$font-weight-regular: 500 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 700 !default;
$font-weight-bold: 900 !default;

$font-family-form-placeholder: arial, sans-serif !default;
$font-family-form: arial, sans-serif !default;

$font-family-a-l: arial, sans-serif !default;
$font-family-a-r: arial, sans-serif !default;
$font-family-a-m: arial, sans-serif !default;
$font-family-a-b: arial, sans-serif !default;
$font-family-a-sb: arial, sans-serif !default;

$font-family-b-r: 'arial black', sans-serif !default;
$font-family-b-m: 'arial black', sans-serif !default;
$font-family-b-b: 'arial black', sans-serif !default;

$font-family-c-r: 'ms-serif', serif !default;
$font-family-c-m: 'ms-serif', serif !default;
$font-family-c-b: 'ms-serif', serif !default;
