@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$font-family-primary: 'Open Sans' !default;
$font-weight-light:   300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium:  600 !default;
$font-weight-bold:    700 !default;




$font-family-light: 'Open Sans' !default;
$font-family-regular: 'Open Sans' !default;
$font-family-medium: 'Open Sans' !default;
$font-family-bold: 'Open Sans' !default;




