
/*+------------------------------------------------------------+
 |-COLORS
 +------------------------------------------------------------+*/


$colorsGuide: (
  black: #000000,
  secondary-color: #f5f5f5,
  gray-90: #171717,
  gray-80: #2e2e2e,
  gray-70: #464646,
  gray-60: #5d5d5d,
  gray-50: #757575,
  gray-40: #909090,
  gray-30: #acacac,
  gray-20: #c7c7c7,
  gray-10: #e3e3e3,
  makumba: #999999,
  white-smoke: #f5f5f5,
  White: #ffffff,
  link: #c7c7c7,
  linkHover: #999,


  primary: #000,
  color-1: #e6f5ff,
  color-2: #b5e6c8,
  color-3: #fef7c1,
  color-4: #fadfc1,
  color-5: #fcd8cd,

   error: #fd675e,
   sales: #fa3b2c,
   Sales-Variant: #e43628,
   error-primary:#D0021B ,


   primary-guide:#121F2A,
   secondary-guide:#6759bb,
   ternary-guide:#6759bb,
  )!default;

  @function color($color) {
   @return map-get($colorsGuide, $color);
 }
 




 $black : nth($colorsGuide, 1) !default;
 $white : nth($colorsGuide, 2) !default;

 $gray-90: nth($colorsGuide, 3) !default;
 $gray-80: nth($colorsGuide, 4) !default;
 $gray-70: nth($colorsGuide, 5) !default;
 $gray-60: nth($colorsGuide, 6) !default;
 $gray-50: nth($colorsGuide, 7) !default;
 $gray-40: nth($colorsGuide, 8) !default;
 $gray-30: nth($colorsGuide, 9) !default;
 $gray-20: nth($colorsGuide, 10) !default;
 $gray-10:   nth($colorsGuide, 11) !default;
 $white-smoke:nth($colorsGuide, 12) !default;

 $color-1:   nth($colorsGuide, 13) !default;
 $color-2 :  nth($colorsGuide, 14) !default;
 $color-3  : nth($colorsGuide, 15) !default;
 $color-4  : nth($colorsGuide, 16) !default;
 $color-5  : nth($colorsGuide, 17) !default;
 $color-6 :  nth($colorsGuide, 18) !default;
 $color-7 :  nth($colorsGuide, 19) !default;
 $color-8 :  nth($colorsGuide, 20) !default;
 $color-9 :  nth($colorsGuide, 21) !default;
 $color-10 : nth($colorsGuide, 22) !default;
 $color-11 : nth($colorsGuide, 23) !default;

 $primary:#000 !default;
 $error: #fd675e!default;

$primary-guide:#121F2A !default;
$secondary-guide:#6759bb !default;
$ternary-guide:#6759bb !default;

   

/*+------------------------------------------------------------+
 |       -IMPORT FONTS
 +------------------------------------------------------------+*/


$font-family-secondary:"Times new roman"!default;
$font-weight-secondary-light:300!default;
$font-weight-secondary-medium:400!default;
$font-weight-secondary-bold:700!default;


/* BREAKPOINTS */


 /*+------------------------------------------------------------+
  |       -FASE 2 : PERSONALIZA TU HOLYGRAIL
  +------------------------------------------------------------+*/


/*  breakpoints  */

/*  grid  */

 $totalCols :      12!default;
 $padding-global: 8px!default;
 $padding-mobile: 24px!default;
 $padding-desktop: 40px!default;
 $padding-button: 8px!default;
 $padding-btn:   16px!default;
 $height-inputs: 48px!default;


$container: 800px !default;/* maxwidth del container */
$container-2: 700px!default;/* maxwidth del container2*/
$container-3: 900px!default;/* maxwidth del container3*/
$container-4: 356px!default;/* maxwidth del container4*/
$container-5: 400px!default;/* maxwidth del container5*/
$container-6: 442px!default;/* maxwidth del container6*/
$container-7: 595px!default;/* maxwidth del container7*/
$container-8: 395px!default;/* maxwidth del container8*/
$container-9: 798px!default;/* maxwidth del container8*/


$transition:278ms;




/*  alturas minimas  */

$height-xs:80px !default;
$height-sm:100px !default;
$height-md:350px !default;
$height-lg:400px !default;
$height-xl:450px !default;
$height-full:100vh !default;
$height-home:calc(100vh - 80px) !default;

/*  animaciones  */

$transition:278ms!default;



/* ALTURA MINIMA */

$min-width:319px!default;

$min-vw:319px!default;
$max-vw:1500px!default;


/* Types.scss */

/* Types responsive  xs sm md lg xl line-height font-weight */

   $fs: "font-size";
   $lh: "line-height";
   $headers:/* name:mobile,768,992,1280,line-height,font */
          (h1: (32px, 32px, 32px,  40px, 1.2, "medium" ),
           h2: (24px, 24px, 24px,  32px, 1.2, "medium" ),
           h3: (18px, 18px, 18px,  24px, 1.2, "medium" ),
           h4: (16px, 16px, 16px,  18px, 1.2, "medium" ),
           h5: (14px, 14px, 14px,  16px, 1.2, "medium" ),
           h6: (12px, 12px, 12px,  14px, 1.2, "medium" ),
           h7: (10px, 10px, 10px,  12px, 1.2, "medium" ),
           h8: (8px,   8px,  8px,  10px, 1.2, "medium" ),
     display1: (32px, 32px, 32px,  48px, 1.2, "bold"   ),/* PROMOTIONS BANNER */
     display2: (20px, 20px, 20px,  40px, 1.2, "bold"   ),/* SALES */
     display3: (16px, 16px, 16px,  24px, 1.5, "medium" ),/* BLACK FRIDAY */
     display4: (14px, 14px, 14px,  24px, 1.5, "medium" ),/* SALES */
     display5: (14px, 14px, 14px,  18px, 1.5, "regular"),/* BLACK FRIDAY */
     display6: (12px, 12px, 12px,  18px, 1.5, "regular"),/* SALES */
     display7: (14px, 14px, 14px,  18px, 1.5, "medium" ),/* SALES + BLACK FRIDAY */
           p1: (12px, 12px, 12px,  14px, 1.4, "regular"),
           p2: (14px, 14px, 16px,  18px, 1.4, "regular"),
           p4: (14px, 14px, 16px,  18px, 1.4, "medium" )) !default;

        //  primary   font (regular, medium , bold) 
        //  secondary font (2-regular, 2-medium , 2-bold) 
   

/* TYPES FIJOS */

$headersFixers: (/*name :  fontsize, lineheight */
   12 : (12px, 1.5),
   14 : (14px, 1.5),
   16 : (16px, 1.5),
   18 : (18px, 1.5),
   20 : (20px, 1.5),
   24 : (24px, 1.5),
) !default;
   
   

$headersFluids: (/*name :  fontsize, lineheight */
   12 : (1px, 2px, .3),
   14 : (14px, 12px,.9),
   16 : (16px, 12px,.9),
   18 : (18px, 12px,.9),
   20 : (20px, 12px,.9),
   50 : (30px, 80px,.9),

   ) !default;





   $heights: (/*name :  fontsize, lineheight */
   height-xs : (80px),
   height-sm  : (100px),
   height-md  : (350px),
   height-lg  : (400px),
   height-xl  : (450px),
   height-full  : (100vh),
   height-home  : (calc(100vh - 80px))

   ) !default;


/*+------------------------------------------------------------+
|       -spacing  
+------------------------------------------------------------+*/

$mg: "margin";
$margin: /* name : margen total mobile, tablet, desktop, longdesktop*/
(m-20: (10px, 20px, 20px, 20px),
 m-30: (10px, 30px, 30px, 30px),
 m-50: (20px, 50px, 50px, 50px))!default;
 
 
$mx: "margin"; 
$margin-x: /* name : margen bottom   */
(mx-10: (0 10px, 0 10px, 0 10px, 0 10px),
 mx-20: (0 10px, 0 20px, 0 20px, 0 20px),
 mx-30: (0 10px, 0 30px, 0 30px, 0 30px),
 mx-50: (0 20px, 0 50px, 0 50px, 0 50px))!default;
 
 
$my: "margin"; 
$margin-y: /* name : margen bottom*/
(my-10: (10px 0, 10px 0, 10px 0, 10px 0),
 my-20: (10px 0, 20px 0, 20px 0, 20px 0),
 my-30: (10px 0, 30p 0x, 30p 0, 30px 0),
 my-50: (20px 0, 50px 0, 50px 0, 50px 0))!default;
 
 
   
$mt: "margin-top";
$margin-top: /* name : margen bottom*/
(mt-10: (10px, 10px, 10px, 10px),
 mt-20: (10px, 20px, 20px, 20px),
 mt-30: (10px, 30px, 30px, 30px),
 mt-50: (50px, 50px, 50px, 50px))!default;
 
 
 $mr: "margin-right";
 $margin-right: /* name : margen bottom*/
 (mr-10: (10px, 10px, 10px, 10px),
   mr-20: (10px, 20px, 20px, 20px),
   mr-30: (10px, 30px, 30px, 30px),
   mr-50: (20px, 50px, 50px, 50px))!default;
 


 $mb: "margin-bottom";
$margin-bottom:
/* name : margen bottom*/
(mb-4: (4px, 4px, 4px, 4px),
  mb-10: (10px, 10px, 10px, 10px),
  mb-16: (10px, 10px, 16px, 16px),
  mb-20: (10px, 20px, 20px, 20px),
  mb-24: (20px, 20px, 24px, 24px),
  mb-30: (10px, 30px, 30px, 30px),
  mb-40: (20px, 40px, 40px, 40px),
  mb-50: (20px, 50px, 50px, 50px)) !default;

 

$ml: "margin-left";
$margin-left: /* name : margen bottom*/
(ml-10: (10px, 10px, 10px, 10px),
 ml-20: (10px, 20px, 20px, 20px),
 ml-30: (10px, 30px, 30px, 30px),
 ml-50: (20px, 50px, 50px, 50px))!default;
 

$p: "padding"; 
$padding: /* name : padding  top*/
(p-10: (10px, 10px, 10px, 10px),
 p-20: (10px, 20px, 20px, 20px),
 p-30: (10px, 30px, 30px, 30px),
 p-50: (20px, 50px, 50px, 50px))!default;
 
 
$py: "padding";
$padding-y: /* name : padding  arriba y abajo*/

(py-16: (10px 0, 16px 0, 16px 0, 16px 0),
    py-20: (10px 0, 20px 0, 20px 0, 20px 0),
    py-30: (10px 0, 30px 0, 30px 0, 30px 0),
    py-50: (20px 0, 30px 0, 40px 0, 50px 0),
    py-60: (24px 16px, 24px 16px, 24px 16px, 60px 60px)) !default;
 
 
$px: "padding";
$padding-x: /* name : padding  arriba y abajo*/
(px-16: (0 8px, 0 16px, 0 16px, 0 16px),
 px-20: (0 10px, 0 20px, 0 20px, 0 20px),
 px-30: (0 10px, 0 30px, 0 30px, 0 30px),
 px-48: (0 48px, 0 48px, 0 48px, 0 48px),
 px-50: (0 50px, 0 50px, 0 50px, 0 50px))!default;
 
 
$pt: "padding-top";
$padding-top: /* name : padding  top*/
(pt-10: (10px, 10px, 10px, 10px),
 pt-16: (8px, 16px, 16px, 16px),
 pt-20: (10px, 20px, 20px, 20px),
 pt-30: (10px, 30px, 30px, 30px),
 pt-50: (50px, 50px, 50px, 50px))!default;
 
 
$pb: "padding-bottom";
$padding-bottom: /* name : padding  bottom*/
(pb-10: (10px, 10px, 10px, 10px),
 pb-16: (8px, 16px, 16px, 16px),
 pb-20: (10px, 20px, 20px, 20px),
 pb-30: (10px, 30px, 30px, 30px),
 pb-50: (50px, 50px, 50px, 50px))!default;
 
 
$pl: "padding-left";
$padding-left: /* name : padding  bottom*/
(pl-10: (10px, 10px, 10px, 10px),
pl-16 : (8px, 16px, 16px, 16px),
 pl-20: (10px, 20px, 20px, 20px),
 pl-30: (10px, 30px, 30px, 30px),
 pl-50: (20px, 50px, 50px, 50px))!default;
 
 
$pr: "padding-right";
$padding-right: /* name : padding  bottom*/
(pr-10: (10px, 10px, 10px, 10px),
 pr-16: (8px, 16px, 16px, 16px),
 pr-20: (10px, 20px, 20px, 20px),
 pr-30: (10px, 30px, 30px, 30px),
 pr-50: (20px, 50px, 50px, 50px))!default;
 
