$espaciados: (0, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 112, 120, 128, 160);
$c-white: #fff !default;
$c-black: #000 !default;

$c-light-grey: #f0f0f0 !default;
$c-middle-grey: #a9a9a9 !default;
$c-dark-grey: #666666 !default;

$c-primary-3: rgba(0, 0, 0, 0.3);
$c-primary-15: rgba(0, 0, 0, 0.15);
$c-primary-30: rgba(0, 0, 0, 0.3);
$c-primary-60: rgba(0, 0, 0, 0.6);
$c-primary-97: rgba(0, 0, 0, 0.97);

$c-secondary-3: rgba(255, 255, 255, 0.3);
$c-secondary-15: rgba(255, 255, 255, 0.15);
$c-secondary-30: rgba(255, 255, 255, 0.3);
$c-secondary-60: rgba(255, 255, 255, 0.6);
$c-secondary-97: rgba(255, 255, 255, 0.97);

/* functional */
$c-primary: #000 !default;
$c-secondary: #000 !default;
$c-accent: #ed0f2b !default;
$c-error: #ed0f2b !default;
$c-sale: #ffce4e !default;
$c-info: #1a32a4 !default;
$c-valid: #12882c !default;
$c-warning: #ffce4e !default;
$c-orange: #e5740b !default;

$c-limited: #000 !default;
$c-success: #12882c !default;
$c-alert: #ffce4e !default;
$c-facebook: #1977f3 !default;
$c-google: #4285f4 !default;
$c-naver: #03cf5d !default;
$c-wechat: #2dc100 !default;
$bg-light: #f0f0f0 !default;
$bg-dark: #000 !default;
$bg-black: #000 !default;
$c-bg-light: #000 !default;
$c-bg-dark: #fff !default;
$white-smoke: #f0f0f0 !default;
$primary: #000000 !default;
$primary-guide: #363636 !default;
$secondary-guide: #6759bb !default;
$ternary-guide: #6759bb !default;
$list-disc-color: #1a1a1a !default;

$c-feel: #000000 !default;
$c-feel-light: #f0f0f0 !default;
$c-feel-dark: #a9a9a9 !default;
$c-tier-silver: #e3e3e3 !default;
$c-tier-platinum: #99b0c5 !default;
$c-tier-gold: #dcbe99 !default;

$text-sm: 12px;
$text-md: 13px;
$text-lg: 13px;
$btn-radius: 0 !default;
$obj-radius: 0 !default;
$form-radius: 0 !default;
$btn-line-height: 1 !default;
$btn-padding: 12px !default;
$btn-text-mini: 12px !default;
$btn-text-small: 12px !default;
$btn-text-medium: 12px !default;
$btn-text-large: 12px !default;
$btn-text-xlarge: 12px !default;
$btn-text-full: 12px !default;
$btn-text-r: 12px !default;
$btn-text-m: 12px !default;
$tabs-text: 12px !default;
$font-weight-secondary-light: 300 !default;
$font-weight-secondary-medium: 400 !default;
$font-weight-secondary-bold: 700 !default;
$totalCols: 12 !default;
$totalColsXl: 24 !default;
$padding-global: 8px !default;
$padding-mobile: 24px !default;
$padding-desktop: 40px !default;
$padding-button: 8px !default;
$height-inputs: 40px !default;
$height-btn: 40px !default;
$text-input-m: 12px !default;
$text-input-d: 12px !default;
$container: 800px !default;
$container-2: 700px !default;
$container-3: 900px !default;
$container-4: 360px !default;
$container-5: 800px !default;
$container-6: 442px !default;
$container-7: 595px !default;
$container-8: 395px !default;
$container-9: 798px !default;
$container-10: 200px !default;
$container-11: 1080px !default;
$container-12: 1080px !default;
$container-full: 1500px !default;

$xcontainer-10: 200px !default;
$xcontainer-4: 360px !default;
$xcontainer-8: 395px !default;
$xcontainer-6: 442px !default;

$xcontainer-7: 595px !default;

$xcontainer-2: 700px !default;
$xcontainer-9: 798px !default;
$xcontainer: 800px !default;
$xcontainer-5: 800px !default;
$xcontainer-3: 900px !default;

$xcontainer-11: 1080px !default;
$xcontainer-12: 1080px !default;
$xcontainer-full: 1500px !default;

$height-xs: 60px !default;
$height-sm: 100px !default;
$height-md: 350px !default;
$height-lg: 400px !default;
$height-xl: 450px !default;
$height-full: 100vh !default;
$height-home: calc(100vh - 80px) !default;
$transition: 278ms !default;
$min-width: 320px !default;
$min-vw: 320px !default;
$max-vw: 1500px !default;
$svg-size: 16px;
$tooltip-padding: 8px;
$fs: 'font-size';
$lh: 'line-height';

$headers: (
  titularbase-m: (
    14px,
    14px,
    16px,
    16px,
    1.2,
    'medium',
  ),
) !default;
$minheaders: (
  p-tag: (
    8px,
    10px,
    1.3,
    'regular',
  ),
  h2: (
    18px,
    24px,
    1.2,
    'bold',
  ),
  title-l: (
    12px,
    12px,
    1.4,
    'regular',
  ),
  title-l-l: (
    12px,
    12px,
    1.4,
    'light',
  ),
  title-l-b: (
    12px,
    12px,
    1.4,
    'medium',
  ),
  title-m: (
    11px,
    11px,
    1.4,
    'regular',
  ),
  title-s: (
    10px,
    10px,
    1.4,
    'regular',
  ),
  text-l: (
    12px,
    12px,
    1.5,
    'regular',
  ),
  text-l-l: (
    12px,
    12px,
    1.5,
    'light',
  ),
  text-m: (
    11px,
    11px,
    1.5,
    'regular',
  ),
) !default;

$headersFixers: (
  12: (
    12px,
    1.5,
  ),
  14: (
    14px,
    1.5,
  ),
  16: (
    16px,
    1.5,
  ),
  18: (
    18px,
    1.5,
  ),
  20: (
    20px,
    1.5,
  ),
  24: (
    24px,
    1.5,
  ),
) !default;

$headersFluids: (
  2: (
    40px,
    100px,
    0.9,
  ),
  1: (
    60px,
    160px,
    0.8,
  ),
) !default;
$heights: (
  height-xs: (
    80px,
    80px,
  ),
  height-sm: (
    100px,
    100px,
  ),
  height-128: (
    128px,
    128px,
  ),
  height-md: (
    350px,
    350px,
  ),
  height-lg: (
    400px,
    400px,
  ),
  height-xl: (
    450px,
    450px,
  ),
  height-full: (
    100vh,
    100vh,
  ),
  height-big: (
    300px,
    500px,
  ),
  height-medium: (
    200px,
    400px,
  ),
  height-mini: (
    100px,
    300px,
  ),
  height-home: (
    calc(100vh - 80px),
    calc(100vh - 80px),
  ),
) !default;
$mg: 'margin';
$margin: () !default;
$mx: 'margin';
$margin-x: () !default;
$my: 'margin';
$margin-y: () !default;
$mt: 'margin-top';
$margin-top: (
  mtr-128: (
    64px,
    128px,
    128px,
    128px,
  ),
) !default;
$mr: 'margin-right';
$margin-right: () !default;
$mb: 'margin-bottom';
$margin-bottom: (
  mbr-24: (
    16px,
    24px,
    24px,
    24px,
  ),
  mbr-32: (
    16px,
    32px,
    32px,
    32px,
  ),
  mbr-64: (
    32px,
    64px,
    64px,
    64px,
  ),
  mbr-128: (
    64px,
    128px,
    128px,
    128px,
  ),
  mbr-20-40: (
    20px,
    40px,
    40px,
    40px,
  ),
) !default;
$ml: 'margin-left';
$margin-left: () !default;
$p: 'padding';
$padding: (
  p-body: (
    20px,
    20px,
    40px,
    40px,
  ),
) !default;
$py: 'padding';
$padding-y: () !default;
$px: 'padding';
$padding-x: () !default;
$pt: 'padding-top';
$padding-top: (
  ptr-120: (
    64px,
    64px,
    120px,
    120px,
  ),
  ptr-128: (
    64px,
    64px,
    128px,
    128px,
  ),
) !default;
$pb: 'padding-bottom';
$padding-bottom: (
  pbr-128: (
    64px,
    64px,
    128px,
    128px,
  ),
) !default;
$pl: 'padding-left';
$padding-left: (
  pl-body: (
    20px,
    20px,
    40px,
    40px,
  ),
) !default;
$pr: 'padding-right';
$padding-right: (
  pr-body: (
    20px,
    20px,
    40px,
    40px,
  ),
) !default;
