:root{

    --Black :#000000;
    --secondary-color :#F5F5F5;
    --gray-90:#171717;
    --gray-80:#2E2E2E;
    --gray-70:#464646;
    --gray-60:#5D5D5D;
    --gray-50:#757575;
    --gray-40:#909090;
    --gray-30:#ACACAC;
    --gray-20:#C7C7C7;
    --gray-10:#E3E3E3;
    --white-smoke:#F5F5F5;
    --White :#ffffff;
       
    --quartory-color :#E6F5FF;
    --cinco-color :#B5E6C8;
    --six-color :#FEF7C1;
    --siete-color :#FADFC1;
    --ocho-color :#FCD8CD;
    --Error :#FD675E;
    --Sales :#FA3B2C;
    --Sales-Variant :#E43628;
    
    --error-primary:#FD675E;
    --link:rgb(207, 236, 240);
    --linkHover:#999;
    --black:rgb(3, 2, 2);
    --primary:#000;
    
    --break-xs: 1px;
    --break-sm: 786px;
    --break-md: 992px;
    --break-lg: 1280px;
    --break-xl: 1500px;
    
    --min-width:319px;

    }
    

/*+------------------------------------------------------------+
 |-COLORS
 +------------------------------------------------------------+*/
$colorsGuide: (Black : (#000000, "RGB : 0 0 0"),
 secondary-color : (#F5F5F5, "RGB : 0 0 0"),
 gray-90: (#171717, "RGB : 0 0 9"),
 gray-80: (#2E2E2E, "RGB : 0 0 18"),
 gray-70: (#464646, "RGB : 0 0 27"),
 gray-60: (#5D5D5D, "RGB : 0 0 36"),
 gray-50: (#757575, "RGB : 0 0 46"),
 gray-40: (#909090, "RGB : 0 0 56"),
 gray-30: (#ACACAC, "RGB : 0 0 67"),
 gray-20: (#C7C7C7, "RGB : 0 0 78"),
 gray-10: (#E3E3E3, "RGB : 0 0 89"),
 white-smoke:(#F5F5F5, "RGB : 0 0 96"),
 White : (#ffffff, "RGB : 0 0 0"),

 quartory-color : (#E6F5FF, "RGB : 0 0 0"),
 cinco-color : (#B5E6C8, "RGB : 0 0 0"),
 six-color : (#FEF7C1, "RGB : 0 0 0"),
 siete-color : (#FADFC1, "RGB : 0 0 0"),
 ocho-color : (#FCD8CD, "RGB : 0 0 0"),
 Error : (#FD675E, "RGB : 0 0 0"),
 Sales : (#FA3B2C, "RGB : 0 0 0"),
 Sales-Variant : (#E43628, "RGB : 228 54 40"))!default;


$primary-guide:#00bfcb!default;

$error-primary:#FD675E !default;
$link:    rgb(207, 236, 240) !default;
$linkHover:#999 !default;
$black:    rgb(3, 2, 2) !default;
$primary:  #000 !default;

   

/*+------------------------------------------------------------+
 |       -IMPORT FONTS
 +------------------------------------------------------------+*/


$font-family-secondary:"Times new roman"!default;
$font-weight-secondary-light:300!default;
$font-weight-secondary-medium:400!default;
$font-weight-secondary-bold:700!default;


/* BREAKPOINTS */


 /*+------------------------------------------------------------+
  |       -FASE 2 : PERSONALIZA TU HOLYGRAIL
  +------------------------------------------------------------+*/


/*  breakpoints  */

/*  grid  */

 $totalCols :      12!default;
 $padding-global: 8px!default;
 $padding-button: 8px!default;
 $padding-btn:   16px!default;
 $height-inputs: 48px!default;


$container: 800px !default;/* maxwidth del container */
$container-2: 700px!default;/* maxwidth del container2*/
$container-3: 900px!default;/* maxwidth del container3*/
$container-4: 350px!default;/* maxwidth del container4*/

$transition:278ms;


/*  alturas minimas  */

$height-xs:80px !default;
$height-sm:100px !default;
$height-md:350px !default;
$height-lg:400px !default;
$height-xl:450px !default;
$height-full:100vh !default;
$height-home:calc(100vh - 80px) !default;

/*  animaciones  */

$transition:278ms!default;



/* ALTURA MINIMA */

$min-width:319px!default;

$min-vw:319px!default;
$max-vw:1500px!default;


/* Types.scss */

/* Types responsive  xs sm md lg xl line-height font-weight */

   $fs: "font-size";
   $lh: "line-height";
   $headers:/* name:mobile,768,992,1280,line-height,font */
          (h1: (32px, 32px, 32px,  40px, 1.2, "medium" ),
           h2: (24px, 24px, 24px,  32px, 1.2, "medium" ),
           h3: (18px, 18px, 18px,  24px, 1.2, "medium" ),
           h4: (16px, 16px, 16px,  18px, 1.2, "medium" ),
           h5: (14px, 14px, 14px,  16px, 1.2, "medium" ),
           h6: (12px, 12px, 12px,  14px, 1.2, "medium" ),
           h7: (10px, 10px, 10px,  12px, 1.2, "medium" ),
           h8: (8px,   8px,  8px,  10px, 1.2, "medium" ),
     display1: (32px, 32px, 32px,  48px, 1.2, "bold"   ),/* PROMOTIONS BANNER */
     display2: (20px, 20px, 20px,  40px, 1.2, "bold"   ),/* SALES */
     display3: (16px, 16px, 16px,  24px, 1.5, "medium" ),/* BLACK FRIDAY */
     display4: (14px, 14px, 14px,  24px, 1.5, "medium" ),/* SALES */
     display5: (14px, 14px, 14px,  18px, 1.5, "regular"),/* BLACK FRIDAY */
     display6: (12px, 12px, 12px,  18px, 1.5, "regular"),/* SALES */
     display7: (14px, 14px, 14px,  18px, 1.5, "medium" ),/* SALES + BLACK FRIDAY */
           p1: (12px, 12px, 12px,  14px, 1.4, "regular"),
           p2: (14px, 14px, 16px,  18px, 1.4, "regular"),
           p4: (14px, 14px, 16px,  18px, 1.4, "medium" )) !default;

        //  primary   font (regular, medium , bold) 
        //  secondary font (2-regular, 2-medium , 2-bold) 
   

/* TYPES FIJOS */

$headersFixers: (/*name :  fontsize, lineheight */
   12 : (12px, 1.5),
   14 : (14px, 1.5),
   16 : (16px, 1.5),
   18 : (18px, 1.5),
   20 : (20px, 1.5),
   24 : (24px, 1.5),
) !default;
   
   

$headersFluids: (/*name :  fontsize, lineheight */
   12 : (12px, 12px, .9),
   14 : (14px, 12px,.9),
   16 : (16px, 12px,.9),
   18 : (18px, 12px,.9),
   20 : (20px, 12px,.9),
   50 : (30px, 80px,.9),

   ) !default;
/*+------------------------------------------------------------+
|       -spacing  
+------------------------------------------------------------+*/

$mg: "margin";
$margin: /* name : margen total mobile, tablet, desktop, longdesktop*/
(m-20: (10px, 20px, 20px, 20px),
 m-30: (10px, 30px, 30px, 30px),
 m-50: (20px, 50px, 50px, 50px))!default;
 
 
$mx: "margin"; 
$margin-x: /* name : margen bottom   */
(mx-10: (0 10px, 0 10px, 0 10px, 0 10px),
 mx-20: (0 10px, 0 20px, 0 20px, 0 20px),
 mx-30: (0 10px, 0 30px, 0 30px, 0 30px),
 mx-50: (0 20px, 0 50px, 0 50px, 0 50px))!default;
 
 
$my: "margin"; 
$margin-y: /* name : margen bottom*/
(my-10: (10px 0, 10px 0, 10px 0, 10px 0),
 my-20: (10px 0, 20px 0, 20px 0, 20px 0),
 my-30: (10px 0, 30p 0x, 30p 0, 30px 0),
 my-50: (20px 0, 50px 0, 50px 0, 50px 0))!default;
 
 
   
$mt: "margin-top";
$margin-top: /* name : margen bottom*/
(mt-10: (10px, 10px, 10px, 10px),
 mt-20: (10px, 20px, 20px, 20px),
 mt-30: (10px, 30px, 30px, 30px),
 mt-50: (20px, 50px, 50px, 50px))!default;
 
 
 $mr: "margin-right";
 $margin-right: /* name : margen bottom*/
 (mr-10: (10px, 10px, 10px, 10px),
   mr-20: (10px, 20px, 20px, 20px),
   mr-30: (10px, 30px, 30px, 30px),
   mr-50: (20px, 50px, 50px, 50px))!default;
 


 $mb: "margin-bottom";
$margin-bottom:
/* name : margen bottom*/
(mb-4: (4px, 4px, 4px, 4px),
  mb-10: (10px, 10px, 10px, 10px),
  mb-16: (10px, 10px, 16px, 16px),
  mb-20: (10px, 20px, 20px, 20px),
  mb-24: (20px, 20px, 24px, 24px),
  mb-30: (10px, 30px, 30px, 30px),
  mb-40: (20px, 40px, 40px, 40px),
  mb-50: (20px, 50px, 50px, 50px)) !default;

 

$ml: "margin-left";
$margin-left: /* name : margen bottom*/
(ml-10: (10px, 10px, 10px, 10px),
 ml-20: (10px, 20px, 20px, 20px),
 ml-30: (10px, 30px, 30px, 30px),
 ml-50: (20px, 50px, 50px, 50px))!default;
 

$p: "padding"; 
$padding: /* name : padding  top*/
(p-10: (10px, 10px, 10px, 10px),
 p-20: (10px, 20px, 20px, 20px),
 p-30: (10px, 30px, 30px, 30px),
 p-50: (20px, 50px, 50px, 50px))!default;
 
 
$py: "padding";
$padding-y: /* name : padding  arriba y abajo*/

(py-16: (10px 0, 16px 0, 16px 0, 16px 0),
    py-20: (10px 0, 20px 0, 20px 0, 20px 0),
    py-30: (10px 0, 30px 0, 30px 0, 30px 0),
    py-50: (20px 0, 30px 0, 40px 0, 50px 0),
    py-60: (24px 16px, 24px 16px, 24px 16px, 60px 60px)) !default;
 
 
$px: "padding";
$padding-x: /* name : padding  arriba y abajo*/
(px-16: (0 8px, 0 16px, 0 16px, 0 16px),
 px-20: (0 10px, 0 20px, 0 20px, 0 20px),
 px-30: (0 10px, 0 30px, 0 30px, 0 30px),
 px-50: (0 20px, 0 30px, 0 40px, 0 50px))!default;
 
 
$pt: "padding-top";
$padding-top: /* name : padding  top*/
(pt-10: (10px, 10px, 10px, 10px),
 pt-16 : (8px, 16px, 16px, 16px),
 pt-20: (10px, 20px, 20px, 20px),
 pt-30: (10px, 30px, 30px, 30px),
 pt-50: (20px, 50px, 50px, 50px))!default;
 
 
$pb: "padding-bottom";
$padding-bottom: /* name : padding  bottom*/
(pb-10: (10px, 10px, 10px, 10px),
 pb-16: (8px, 16px, 16px, 16px),
 pb-20: (10px, 20px, 20px, 20px),
 pb-30: (10px, 30px, 30px, 30px),
 pb-50: (20px, 50px, 50px, 50px))!default;
 
 
$pl: "padding-left";
$padding-left: /* name : padding  bottom*/
(pl-10: (10px, 10px, 10px, 10px),
pl-16 : (8px, 16px, 16px, 16px),
 pl-20: (10px, 20px, 20px, 20px),
 pl-30: (10px, 30px, 30px, 30px),
 pl-50: (20px, 50px, 50px, 50px))!default;
 
 
$pr: "padding-right";
$padding-right: /* name : padding  bottom*/
(pr-10: (10px, 10px, 10px, 10px),
 pr-16: (8px, 16px, 16px, 16px),
 pr-20: (10px, 20px, 20px, 20px),
 pr-30: (10px, 30px, 30px, 30px),
 pr-50: (20px, 50px, 50px, 50px))!default;
 
