/*+------------------------------------------------------------+
 |       -Alturas
 +------------------------------------------------------------+*/


.height-xs {
    height: $height-xs;
}

.height-sm {
    height: $height-sm;
}

.height-md {
    height: $height-md;
}

.height-lg {
    height: $height-lg;
}

.height-xl {
    height: $height-xl;
}

.height-full {
    height: 100vh;
}

.height-home {
    height: calc(100vh - 80px);
}
